{% extends 'SaleSitesBundle::layout.html.twig' %}
{% block header %}
    {% embed '@SaleSites/Layout/header.html.twig' %}
        {% block header_info_block %}
            {% include '@SaleSites/Partials/header-info.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <section class="header-service-page sell-page p-0-bottom">
        <div class="container mobile-text-allign">
            <h3>{{ page.title }}</h3>
        </div>
    </section>

    <div class="container mobile-text-allign">
        {{ page.description | raw }}
    </div>
{% endblock %}