{% extends 'SaleSitesBundle::layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/product.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/media-queries/buy-page.css') }}">
{% endblock %}

{% block top_javascript %}
    {{ parent() }}
    <script src="{{ asset('build/app.cart.controller.js') }}"></script>
{% endblock %}

{% block title %}
    {% if price.inventoryItem.seoMeta and price.inventoryItem.seoMeta.title %}
        {{ price.inventoryItem.seoMeta.title }}
    {% else %}
        Product
    {% endif %}
{% endblock %}

{% block meta %}
    {% if price.inventoryItem.seoMeta %}
        {% if price.inventoryItem.seoMeta.description %}
            <meta name="description" content="{{ price.inventoryItem.seoMeta.description }}">
        {% endif %}
        {% if price.inventoryItem.seoMeta.keyword %}
            <meta name="keywords" content="{{ price.inventoryItem.seoMeta.keyword }}">
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container item buy-item" ng-controller="CartController as vm" ng-init="vm.init('{{ price.quantity }}')">
        {% include '@SaleSites/Partials/message.html.twig' %}
        <message-block></message-block>
        <div>
            <h2 class="visible-xs">{{ price.inventoryItem.title }}</h2>
            <div class="col-md-4 col-sm-5 img-product">
                {% if price.inventoryItem.getImage %}
                    <img class="my-foto" src="{{ vich_uploader_asset(price.inventoryItem.getImage, 'imageFile') }}"
                         alt="{{ price.inventoryItem.title }}" alt="">
                {% else %}
                    <img src="{{ asset('img/buy/1.png') }}" alt="{{ price.inventoryItem.title }}">
                {% endif %}
            </div>
            <div class="col-md-8 col-sm-7 menu-buttons">
                <h2 class="hidden-xs">{{ price.inventoryItem.title }}</h2>
                <h3><b>Item Number</b> : {{ price.inventoryItem.getId }}</h3>
                <a href="#" class="btn buy ch-model">Change model</a>
                <div class="description-item">
                    <div>
                        <div class="model-property col-md-6 col-sm-6 col-xs-6">
                            <hr>
                            <b>Condition :</b>
                            <p>{{ price.priceType.title }}</p>
                        </div>
                        {% for filter in price.inventoryItem.filters %}
                            {% if filter.parent and not filter.parent.getIsMultiSelect and (not selectedFilters or filter.parent.title in selectedFilters['filters']) %}
                            <div class="model-property col-md-6 col-sm-6 col-xs-6">
                                <hr>
                                <b>{{ filter.parent.title }} :</b>
                                <p>{{ filter.title }} </p>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if (price.model and price.model.description) or price.inventoryItem.description %}
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <b>Description :</b>
                                {% if price.inventoryItem.description %}
                                    <p>{{ price.inventoryItem.description|replace({'\\r\\n': '\n'})|nl2br }}</p>
                                {% elseif price.model and price.model.description %}
                                    <p>{{ price.model.description|replace({'\\r\\n': '\n'})|nl2br }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <hr>
                    {% for item in multiple %}
                        <div class="row">
                            <div class="col-md-12">
                                <b>{{ item.parent.title }} :</b>
                                {% for filter in item.filters %}
                                    {% if filter.status == 1 %}
                                        <span class="label label-info">{{ filter.title }}</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="price-amount">
                    <div class="item-price">${{ price.value|format_price }}</div>
                    <div class="available">
                        <div>Available Qty: <span>{{ price.quantity }}</span></div>
                        <div>Qty :
                            <input class="form-control" type="number" value="1" min="1" max="10" ng-model="vm.quantity" ng-change="vm.changeQuantity()">
                        </div>
                    </div>
                </div>
                <a href="#" class="btn buy checkout" ng-click="vm.addItem({{ price.id }}, vm.quantity)">Checkout</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/em-zoom.js') }}">
{% endblock %}