{% extends 'SaleSitesBundle::layout.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/repair-product.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/media-queries/sell-repair.css') }}">
{% endblock %}
{% block title %}Product{% endblock %}

{% block top_javascript %}
    {{ parent() }}
    <script src="{{ asset('build/app.cart.controller.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container item sell-item repair-item" ng-controller="CartController as vm">
        {% include '@SaleSites/Partials/message.html.twig' %}
        <message-block></message-block>
        <div class="row">
            <h2 class="visible-sm visible-xs">{{ model.title }}</h2>
            <div class="col-md-12 col-sm-12">
                <div class="img-circle">
                    {% if model.getImage %}
                        <img src="{{ vich_uploader_asset(model.getImage, 'imageFile') }}" alt="{{ model.title }}">
                    {% else %}
                        <img src="{{ asset('img/item/1.jpg') }}" alt="{{ model.title }}">
                    {% endif %}
                </div>
                <div class="menu-buttons">
                    <h2 class="hidden-sm hidden-xs">{{ model.title }}
                        <a href="#" class="btn">Change model</a>
                    </h2>
                    <a href="#" class="visible-sm visible-xs btn">Change model</a>
                    <hr>
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <span class="small-pay-txt">Cost can change after inspection by our technician.</span>
                            <div class="pay">
                                <p>Cost</p>
                                <span>{{ prices|first.value|format_price }}$</span>
                            </div>
                        </div>
                        <a href="#" class="btn paid" ng-click="vm.addItem(vm.activePriceId, 1)">+ Drop off</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row condition">
            {% for price in prices %}
                <div class="col-md-3 col-sm-4 col-xs-6 block-item">
                    <div class="item-price  {% if loop.first %}active{% endif %}"
                            {% if loop.first %} ng-init="vm.setActivePriceId({{ price.id }})" {% endif %}
                         data-value="{{ price.value|format_price }}"
                         ng-click="vm.setActivePriceId({{ price.id }})">
                        <p>{{ price.priceType.title }}</p>
                        <span>{{ price.priceType.description }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('build/repair-product.js') }}"></script>
{% endblock %}
