@media screen and (max-width: 1200px) {
    .models span {
        height: 200px;
    }

    .buy-workflow .row {
        margin: 0;
    }

    .buy-item.item .img-product {
        height: 100%;

        img {
            width: 100%;
        }
    }

    .buy-item > div {
            margin-top: -15px;
        }
}

@media screen and (max-width: 991px) {
    .models {
        .circle {
            margin: 0 auto;
            width: 250px;
        }

        span {
            height: 250px;
        }
    }

    .big-circle-buy-category {
        padding-bottom: 25px;
        height: 350px;
    }

    .buy-workflow .list-products .item-product {
        width: 32%;
    }

    .buy-item {
        width: 95%;

        > div {
            margin-top: 5px;
        }

        h2 {
            text-align: center;
        }
    }

    .alert-info {
        padding: 10px;
    }
}

@media screen and (max-width: 767px) {
    .models p {
        height: auto;
        width: max-content;
        width: -moz-max-content;
    }

    .buy-item.item .img-product {
        width: 50%;
        margin: 0 auto;
    }

    .buy-list .menu-buttons .buy.checkout {
        float: none;
        width: 50%;
    }

    .buy-item {
        .menu-buttons {
            margin-top: 25px;
        }

        > div {
            margin-top: -15px;
        }
    }
}

@media screen and (max-width: 650px) {
    .buy-workflow .list-products .item-product {
        width: 49%;
    }

    .alert-info {
        padding: 5px;
    }
}

@media screen and (max-width: 550px) {
    .buy-item.item .img-product {
        width: 70%;
    }
}

@media screen and (max-width: 450px) {
    .buy-workflow .list-products .item-product {
        float: none;
        display: block;
        margin: 10px auto;
        width: 90%;

        p {
            text-align: center;
        }
    }

    .item-product .menu-buttons .btn {
        font-size: 16px;
        width: 50%;
    }

    .buy-item {
        .menu-buttons .ch-model {
            margin-top: -3px;
        }

        > div {
            margin-top: 0;
        }
    }

    .item {
        .menu-buttons {
            .btn {
                padding: 6px;
                font-size: 14px;
                margin: 20px auto 0;
                display: block;
                float: none;
                width: 80%;
            }

            h3 {
                width: 100%;
                display: block;
            }
        }

        .description-item {
            margin-top: -10px;
        }
    }

    .model-property {
        width: 100%;

        hr {
            margin-top: 5px;
        }
    }
}

@media screen and (max-width: 400px) {
    .buy-item.item .img-product {
        width: 85%;
    }
}