@media screen and (max-width: 1200px) {
    .logo {
        margin-top: 0;
    }

    .buy-workflow,
    .sell-item {
        padding-top: 180px;
    }

    .buy-item {
        padding-top: 175px;
    }

    .alert-info {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 991px) {
    .top-icons {
        float: none;
        text-align: center;

        .checkout-link {
            display: inherit;
        }
    }

    .info-block {
        width: 100%;
    }

    .logo {
        margin-top: 10px;
        float: none;
        text-align: center;
    }

    .menu {
        width: 100%;
    }

    .menu-buttons {
        margin-top: 20px;
        text-align: center;

        .btn {
            margin: 0 5px;
        }
    }

    footer {
        height: auto;

        .container {
            width: 50%;
            margin: 0 auto;
            padding-top: 15px;
        }
    }

    .container {
        width: 100%;
    }

    .buy-page {
        padding-top: 0px;
    }

    .buy-workflow,
    .buy-item,
    .sell-item {
        padding-top: 215px;
    }

    .header-service-page {
        padding-top: 150px;
    }

    .alert-info {
        margin-top: -40px;
    }

    .top-icons a {
        float: none;
        padding-top: 0px;
    }
    header {
        height: auto;
        position: initial;
    }

    .banner {
        padding-top: 0px;
    }
}

@media screen and (max-width: 920px) {
    .banner img {
        top: 15px;
    }
}

@media screen and (max-width: 860px) {
    .banner img {
        top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .footer-bottom p {
        text-align: center;
    }

    .banner .txt-section {
        padding-top: 0px;
        margin-top: 0px;

        hr:first-child {
            margin-top: 0px;
        }
    }

    .mobile-text-allign {
        text-align: justify;
        padding: 0 15px;

        h2, h1 {
            text-align: center;
        }
    }

    .g-recaptcha div {
        margin: 0 auto;
    }

    .contact-us {
        .column .menu-buttons {
            float: none;
        }

        div.column {
            padding-bottom: 0;
        }
    }

    .advantage {
        ul li {
            width: 50%;
            margin: 0 auto;
            display: inline-table;
            border: 1px solid #eee;
            padding: 1em 10px;

            p {
                height: 35px;
            }
        }

        li h4 {
            height: auto;
        }
    }
}

@media screen and (max-width: 550px) {
    footer .container {
        width: 100%;
    }

    .sell-page h3 {
        font-size: 35px;
    }
}

@media screen and (max-width: 470px) {
    .advantage ul li {
        width: 90%;
    }
}

@media screen and (max-width: 450px) {
    .logo img {
        width: 25px;
    }

    header {
        height: auto;
    }

    .info-block {
        font-size: 13px;
    }

    .menu-buttons .btn {
        min-height: auto;
        min-width: auto;
        font-size: 12px;
    }

    .menu .logo {
        line-height: 1;
    }

    .logo span {
        margin-left: 0;
    }

    .buy-page {
        padding-top: 100px;
    }

    .buy-workflow,
    .buy-item,
    .sell-item {
        padding-top: 175px;
    }

    .alert {
        text-align: center;
        padding: 5px;
    }

    .buy-item h2 {
        text-align: center;
        margin-top: 0;
    }

    .alert-info {
        margin-top: -30px;
    }
}

@media screen and (max-width: 370px) {
    .g-recaptcha {
        margin: 0 -20px;
    }
}

@media screen and (max-width: 325px) {
    .buy-page {
        padding-top: 135px;
    }

    .buy-workflow,
    .sell-item,
    .buy-item {
        padding-top: 210px;
    }

    .header-service-page {
        padding-top: 185px;
    }

    .alert-info {
        margin-top: -30px;
    }
}