@media screen and (max-width: 1200px) {
    .big-phone {
        img {
            width: 100%;
        }

        .first-img .circle {
            left: -10px;
        }

        .third-img .circle {
            right: -25px;
        }
    }

    .banner .second-img .circle {
        top: -10px;
    }
}

@media screen and (max-width: 1120px) {
    .description {
        p {
            padding-top: 27px;
        }

        div {
            height: 250px;
        }

        .repair {
            span {
                width: 60%;
                text-align: left;
                display: inline-table;
            }

            p {
                padding-top: 0;
            }
        }
    }

    .advantage li h4 {
        height: 40px;
    }
}

@media screen and (max-width: 1075px) {
    .big-phone {
        padding-right: 30px;
    }
}

@media screen and (max-width: 991px) {
    .banner .second-img img {
        left: 50px;
    }

    .brand-name {
        font-size: 30px;
    }

    .big-phone {
        .circle {
            width: 160px;

            span {
                height: 150px;
            }
        }

        img {
            width: 80%;
            left: 20px;
            top: 10px;
        }

        span {
            h4 {
                font-size: 30px;
            }

            h5 {
                font-size: 15px;
            }
        }

        .third-img {
            h4 {
                font-size: 20px;
            }

            .circle {
                right: 30px;
            }
        }

        .first-img .circle {
            left: 20px;
        }

        .second-img .circle {
            top: 5px;
        }
    }

    .description div {
        padding: 20px 0;
    }
}

@media screen and (max-width: 920px) {
    .big-phone {
        .third-img .circle {
            right: 0;
        }

        .first-img .circle {
            left: 0;
        }
    }
}

@media screen and (max-width: 860px) {
    .big-phone .third-img .circle {
        right: -10px;
    }
}

@media screen and (max-width: 767px) {
    .big-phone {
        margin: 0 auto;
        width: 100%;
        display: grid;
        padding: 0 10px;

        img {
            left: 0;
            margin: 0 auto;
            width: 250px;
            display: initial;
        }

        a {
            display: block;
            width: 250px;
            margin: 0 auto;
            padding-bottom: 30px;
        }

        .first-img .circle {
            left: 20px;
        }

        .second-img {
            width: 400px;

            img {
                width: 100%;
            }
        }

        .first-img {
            left: 20px;
        }

        .third-img {
            right: 20px;
        }
    }

    .banner .second-img img {
        left: 0;
    }

    .description {
        div {
            height: auto;
        }

        .repair span {
            width: auto;
        }

        p {
            padding-top: 0;
        }
    }
}

@media screen and (max-width: 550px) {
    .brand-name {
        font-size: 25px;
    }
}

@media screen and (max-width: 450px) {
    .header-phone {
        display: block;
    }

    .big-phone {
        .second-img {
            width: 100%;

            img {
                top: 45px;
                width: 270px;
                display: block;
            }
        }

        img {
            width: 200px;
        }

        .first-img img {
            left: 30px;
        }

        .third-img {
            left: -20px;
            padding-top: 45px;

            img {
                left: 20px;
            }
        }
    }
}