@media screen and (max-width: 1200px) {
    .sell-item {
        .menu-buttons {
            width: 78%;
        }

        .btn.paid {
            margin-top: 20px;
        }

        .row {
            margin: 0;
        }

        .condition {
            margin-top: 10px;
        }
    }

    .small-pay-txt {
        padding-left: 0;
    }
}

@media screen and (max-width: 991px) {
    .sell-page {
        padding-top: 0px;
    }

    .all-brands,
    .all-carier,
    .all-model {
        padding-top: 150px;
    }

    .sell-item {
        h2 {
            text-align: center;
            margin-top: 5px;
        }

        .img-circle {
            float: none;
            margin: 0 auto;
            width: 300px;
            height: 300px;
        }

        .menu-buttons {
            width: 100%;
            padding: 20px 0 0;

            .btn {
                float: none;
                width: 150px;
                margin: 0 auto;
            }
        }
    }

    .quantity-block {
        float: none;
        margin: 0 auto 15px;

        input.form-control {
            display: inline;
            float: none;
            width: 100px;
        }
    }

    .quantity {
        display: inline-block;
        float: none;
        margin-right: 10px;
    }

    .sell-item .btn.paid {
        margin-top: 20px;
    }

    .condition {
        padding: 0 15px;
    }

    .repair-item {
        .menu-buttons {
            text-align: center;

            .btn {
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .sell-page h3 {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .sell-item {
        .pay {
            width: auto;
        }
    }
}

@media screen and (max-width: 550px) {
    .sell-page {
        .category {
            width: 100%;
        }

        .brand {
            display: block;
        }

        h2 {
            text-align: center;
        }
    }

    .condition span {
        min-height: 80px;
    }
}

@media screen and (max-width: 450px) {
    .sell-page {
        padding-top: 120px;
    }

    .sell-item {
        .block-item {
            width: 100%;

            p {
                width: 100%;
                margin: 0;
                display: block;
            }
        }

        .menu-buttons .btn {
            min-height: 30px;
        }
    }

    .condition {
        .item-price {
            min-height: 0;
        }

        span {
            min-height: 0;
        }
    }

    .repair-item .condition p {
        padding: 15px 0;
        height: auto;
    }
}

@media screen and (max-width: 350px) {
    .sell-item .img-circle {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 325px) {
    .sell-page {
        padding-top: 0px;
    }
}