{% extends 'SaleSitesBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}{{ 'Profile' | trans }}{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/profile.css') }}">
{% endblock %}

{% block content %}
    <section class="container-fluid" id="profile">
        <div class="row">

            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 text-center">
                        <h3 class="mb-30">{{ "Customer info" | trans }}</h3>
                        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                            {{ form_row(form._token) }}
                            <fieldset>
                                <div class="input_box input_box_email mb-20 {{ form_errors(form.email) ? 'error' : '' }}">
                                    {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Firstname*'}} ) }}
                                    {% if form_errors(form.firstname) %}
                                        <label id="form_email-error" class="text-error" for="form_email">{{ form_errors(form.firstname) }}</label>
                                    {% endif %}
                                </div>

                                <div class="input_box input_box_email mb-20 {{ form_errors(form.lastname) ? 'error' : '' }}">
                                    {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Lastname*'}} ) }}
                                    {% if form_errors(form.lastname) %}
                                        <label id="form_email-error" class="text-error" for="form_email">{{ form_errors(form.lastname) }}</label>
                                    {% endif %}
                                </div>

                                <div class="input_box input_box_email mb-20 {{ form_errors(form.email) ? 'error' : '' }}">
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'E-mail*'}} ) }}
                                    {% if form_errors(form.email) %}
                                        <label id="form_email-error" class="text-error" for="form_email">{{ form_errors(form.lastname) }}</label>
                                    {% endif %}
                                </div>

                                <div class="input_box input_box_email mb-20 {{ form_errors(form.phone) ? 'error' : '' }}">
                                    {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Phone*'}} ) }}
                                    {% if form_errors(form.phone) %}
                                        <label id="form_email-error" class="text-error" for="form_email">{{ form_errors(form.phone) }}</label>
                                    {% endif %}
                                </div>

                                <div class="menu-buttons">
                                    <button type="submit" class="btn buy">{{ "profile.edit.submit" | trans }}</button>
                                </div>
                            </fieldset>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
