{% extends 'SaleSitesBundle::layout.html.twig' %}

{% trans_default_domain 'validators' %}
{% block title %}{{ 'Profile' | trans }}{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/profile.css') }}">
{% endblock %}

{% block content %}
    <section class="container-fluid" id="profile">
        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">
                <div>
                    <h2>{{ "Hello" | trans }} {{ user.email }}!</h2>
                    <span>
                        {{ "You can edit your profile info " | trans }}
                        <a href="{{ path('fos_user_profile_edit') }}" target="_blank">
                            {{ "here" | trans }}
                        </a>
                    </span>
                </div>

                {% if orders %}
                    <h3>{{ "Your orders" | trans }}:</h3>
                    <table class="order-table">
                        <thead>
                            <tr>
                                <td>{{ "Order date" | trans }}</td>
                                <td>{{ "Order #id" | trans }}</td>
                                <td>{{ "Type" | trans }}</td>
                                <td>{{ "Status" | trans }}</td>
                                <td>{{ "Total Price" | trans }}</td>
                            </tr>
                        </thead>

                        <tbody>
                        {% for order in orders  %}
                            <tr>
                                <td>{{ order.createdAt|date }}</td>
                                <td>{{ order.id }}</td>
                                <td>{{ get_site_type_name(order.siteType) }}</td>
                                <td>{{ get_status_name(order.status) }}</td>
                                <td>
                                    {% if order.siteType == 1 %}
                                        {{ order.sellPrice is not null ? order.sellPrice | format_price ~ "$" : "is calculated" | trans }}
                                    {% else %}
                                        {{ order.repairBuybackPrice is not null ? order.repairBuybackPrice | format_price ~ "$" : "is calculated" | trans }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <span class="grey-warning">
                        {{ "You don’t have any orders" | trans }}
                    </span>
                {% endif %}

                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </section>
{% endblock %}
