.repair .models p:hover,
.repair .show-all b:hover {
    border-color: $color;
    color: $color;
}

.menu-buttons .repair:hover {
    border-color: $color;
    color: $color;
}

.repair {
    background: $color;
    border-color: $color;
}
