{{ form_start(form, {'method': 'post', 'action': site_path('sale_sites_checkout_complete', {'site':site}), 'attr': {'class': ''}}) }}
<div class="body-checkout" ng-init="cartFormVm.init('{{ site }}')">
    <div class="row">
        <div class="col-md-6">
            <p>Customer first name</p>
            {{ form_widget(form.firstName, {'attr': {
                'class': 'form-control',
                'placeholder': 'John'
            }}) }}
        </div>
        <div class="col-md-6">
            <p>Customer last name</p>
            {{ form_widget(form.lastName, {'attr': {
                'class': 'form-control',
                'placeholder': 'Doe'
            }}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Email</p>
            {{ form_widget(form.email, {'attr': {
                'class': 'form-control',
                'placeholder': 'mail@mail.com'
            }}) }}
        </div>
        <div class="col-md-6">
            <p>Phone</p>
            {{ form_widget(form.phone, {'attr': {
                'class': 'form-control',
                'placeholder': '+123 456789'
            }}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Delivery</p>
            {{ form_widget(form.pickupLocation, {'attr': {
                'class': 'form-control',
                'ng-model': 'cartFormVm.location',
            }}) }}
            <div>
                <p>Select payment</p>
                <div class="radio car-on-delivery">
                    <label>
                        {{ form_widget(form.paymentType[0]) }}
                        <img src="{{ asset('img/checkout/car.png') }}" alt="">
                        <strong>Cash on delivery</strong>
                    </label>
                </div>
            </div>
            <div class="col-md-6 store-adress" ng-show="cartFormVm.selectedLocation">
                <p ng-bind="cartFormVm.selectedLocation.name"></p>
                <p ng-bind="cartFormVm.selectedLocation.description"></p>
                <p ng-bind="'Hours:' + cartFormVm.selectedLocation.hours"></p>
            </div>
            <div class="p-30-top">
                <em>Notice! Please, pay attention that prices are subject to change</em>
            </div>
            <div class="checkbox-form-wrapper">
                {{ form_widget(form.termsChecked, {'attr': {} }) }}
                <a href="{{ path('terms_page') }}" target="_blank">{{ "Terms & Conditions" | trans }}</a>
            </div>
        </div>
        <div class="col-md-6 payment bottom-pickup">
            <div class="cost-pickup">
                <div class="total-cost">
                    <p>Sub total: <span ng-bind="'$' + cartFormVm.price/100"></span></p>
                    <p>Shiping Cost: <span>$0</span></p>
                    <p>Taxes <span>$0</span></p>
                    <p class="total">Total <span  ng-bind="'$' + cartFormVm.price/100"></span></p>
                    <div class="menu-buttons">
                        <button type="submit" class="btn act"> Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_widget(form.paymentType[1], {'attr': {
    'class': 'hidden',
}}) }}
{{ form_widget(form.deliveryType, {'attr': {
    'class': 'hidden',
}}) }}
{{ form_widget(form.shippingAddress, {'attr': {
    'class': 'hidden',
}}) }}
{{ form_end(form) }}
