{{ form_start(form, {'method': 'post', 'action': site_path('sale_sites_checkout_complete', {'site':site}), 'attr': {'class': ''}}) }}
<div class="body-checkout" ng-init="cartFormVm.init('{{ site }}')">
    <div class="row">
        <div class="col-md-6">
            <p>Customer first name</p>
            {{ form_widget(form.firstName, {'attr': {
                'class': 'form-control',
                'placeholder': 'John',
                'ng-model': 'vm.firstName',
                'ng-change': 'vm.checkFormValidity()'
            }}) }}
            <span class="red" ng-if="vm.submitted && !vm.firstName">This is required field</span>
        </div>
        <div class="col-md-6">
            <p>Customer last name</p>
            {{ form_widget(form.lastName, {'attr': {
                'class': 'form-control',
                'placeholder': 'Doe',
                'ng-model': 'vm.lastName',
                'ng-change': 'vm.checkFormValidity()'
            }}) }}
            <span class="red" ng-if="vm.submitted && !vm.lastName">This is required field</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Email</p>
            {{ form_widget(form.email, {'attr': {
                'class': 'form-control',
                'placeholder': 'mail@mail.com',
                'ng-model': 'vm.email',
                'ng-change': 'vm.checkFormValidity()'
            }}) }}
            <span class="red" ng-if="vm.submitted && !vm.email">This is required field</span>
        </div>
        <div class="col-md-6">
            <p>Phone</p>
            {{ form_widget(form.phone, {'attr': {
                'class': 'form-control',
                'placeholder': '+123 456789',
                'ng-model': 'vm.phone',
                'ng-change': 'vm.checkFormValidity()'
            }}) }}
            <span class="red" ng-if="vm.submitted && !vm.phone">This is required field</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pay-details">
            <div class="radio-check-button p-right-70" ng-if="cartFormVm.showCreditOptions">
                <label>
                    {{ form_widget(form.deliveryType[1], {'attr': { 'ng-model':'cartFormVm.delivery', 'ng-change': 'vm.changeDelivery(2)'}}) }}
                    Delivery
                </label>
            </div>
            <div class="radio-check-button">
                <label>
                    {{ form_widget(form.deliveryType[0], {'attr': { 'ng-model':'cartFormVm.delivery', 'ng-change': 'vm.changeDelivery(1)'}}) }}
                    Pickup
                </label>
            </div>
            <div ng-if="cartFormVm.delivery == 2">
            <p>shipping Address</p>
                <div>
                    {{ form_widget(form.address1, {'attr': {
                        'class': 'form-control',
                        'placeholder': 'Address'
                    }}) }}
                </div>
                <div>
                    {{ form_widget(form.address2, {'attr': {
                        'class': 'form-control',
                        'placeholder': 'Address'
                    }}) }}
                </div>
                <div class="address-row">
                    <div>
                        {{ form_widget(form.city, {'attr': {
                            'class': 'form-control',
                            'placeholder': 'City'
                        }}) }}
                    </div>
                    <div>
                        {{ form_widget(form.state, {'attr': {
                            'class': 'form-control',
                            'placeholder': 'State'
                        }}) }}
                    </div>
                </div>
                <div class="address-row">
                    <div>
                        {{ form_widget(form.zipCode, {'attr': {
                            'class': 'form-control',
                            'placeholder': 'Zip Code'
                        }}) }}
                    </div>
                    <div>
                        {{ form_widget(form.country, {'attr': {
                            'class': 'form-control',
                            'placeholder': 'Country'
                        }}) }}
                    </div>
                </div>
            </div>
            <div ng-if="cartFormVm.delivery == 1">
            <p>Pick up</p>
            {{ form_widget(form.pickupLocation, {'attr': {
                'class': 'form-control',
                'ng-model': 'cartFormVm.location',
                'ng-change': 'vm.pickup = cartFormVm.location'
            }}) }}
            </div>
            <div class="radio-check-button p-right-70" ng-if="cartFormVm.showCreditOptions">
                <label>
                    {{ form_widget(form.paymentType[1], {'attr': { 'ng-model':'cartFormVm.paymentType', 'ng-change': 'vm.changePayment(2)'}}) }}
                    Credit Card
                </label>
            </div>
            <div class="radio-check-button" ng-if="cartFormVm.delivery == 1">
                <label>
                    {{ form_widget(form.paymentType[0], {'attr': { 'ng-model':'cartFormVm.paymentType', 'ng-change': 'vm.changePayment(1)'}}) }}
                    Cash
                </label>
            </div>
            <div class="credit-cards bor-none">
                <a href="javascript:void(0)">
                    <img src="{{ asset('img/checkout/visa.png') }}" alt="visa">
                </a>
                <a href="javascript:void(0)">
                    <img src="{{ asset('img/checkout/MC.png') }}" alt="master card">
                </a>
                <a href="javascript:void(0)">
                    <img src="{{ asset('img/checkout/amex.png') }}" alt="amex">
                </a>
                <a href="javascript:void(0)">
                    <img src="{{ asset('img/checkout/JCB.png') }}" alt="jcb">
                </a>
            </div>
            <div class="checkbox-form-wrapper">
                {{ form_widget(form.termsChecked, {'attr': {} }) }}
                <a href="{{ path('terms_page') }}" target="_blank">{{ "Terms & Conditions" | trans }}</a>
            </div>
        </div>
        <div class="col-md-6 payment bottom-pickup">
            <div class="cost-pickup">
                <div class="total-cost">
                    <p>Sub total: <span ng-bind="'$' + cartFormVm.price/100"></span></p>
                    <p>Shiping Cost: <span ng-bind="cartFormVm.shippingPrice ? '$' + cartFormVm.shippingPrice/100 : 'free'"></span></p>
                    <p>Taxes <span>$ 0.00</span></p>
                    <p class="total">Total <span ng-bind=" '$' + cartFormVm.totalPrice/100"></span></p>
                    <div class="menu-buttons">
                        <button  class="btn act" type="submit">Confirm order</button>
                        <!-- TODO: changed environment to production -->
                        <div ng-if="vm.paymentType == 2">
                            {% if is_paypal_express_enabled %}
                            <paypal-express-button
                                    on-payment="vm.onPayment()"
                                    on-authorize="vm.onAuthorize(data, actions)"
                                    on-cancel="vm.onCancel(data, actions)"
                                    valid-form="vm.validForm"
                                    environment="{{ paypal_express_environment }}"
                            ></paypal-express-button>
                            <!-- 'sandbox', // Sandbox or live -->
                            <p>Paying with PayPal, you can choose address form your account</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="cartFormVm.selectedLocation">
        <div class="col-md-6 store-adress">
            <p ng-bind="cartFormVm.selectedLocation.name"></p>
            <p ng-bind="cartFormVm.selectedLocation.description"></p>
            <p ng-bind="'Hours:' + cartFormVm.selectedLocation.hours"></p>
        </div>
        <hr>
    </div>
</div>
{{ form_widget(form.deliveryType, {'attr': {
    'class': 'hidden',
}}) }}
{{ form_widget(form.shippingAddress, {'attr': {
    'class': 'hidden',
}}) }}
{{ form_end(form) }}
