{% extends 'SaleSitesBundle::layout.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/sell-index.css') }}" >
    <link rel="stylesheet" href="{{ asset('build/css/media-queries/buy-page.css') }}" >
{% endblock %}

{% block title %}
    {% if site_seo('buy') %}
        {{ site_seo('buy').title }}
    {% else %}
        Buy
    {% endif %}
{% endblock %}

{% block meta %}
    {% if site_seo('buy') %}
        <meta name="description" content="{{ site_seo('buy').description }}">
        <meta name="keywords" content="{{ site_seo('buy').keyword }}">
    {% endif %}
{% endblock %}

{% block content %}
    <section class="buy-page">
        <div class="container">
            {% if site_config().configTexts.sellTitle %}
                <h3>{{ site_config().configTexts.sellTitle }}</h3>
            {% else %}
                <h3>Find the Device &amp; Accessories You Love</h3>
            {% endif %}
            <div class="row models">
                {% set firstCategories = categories|slice(0,4) %}
                {% include '@SaleSites/Selling/seling-categories.html.twig' with {
                    'categories': firstCategories,
                    'site' : site
                }  %}
            </div>
            {% set lastCategories = categories|slice(4) %}
            {% if lastCategories|length %}
                <div id="show-more" class="btn show-all">
                    <b class="more_b">
                        See more categories
                        <i class="fa fa-chevron-right fa-fw"></i>
                    </b>
                </div>
                <div class="row models hide-models" id="allmodels">
                    {% include '@SaleSites/Selling/seling-categories.html.twig' with {
                        'categories': lastCategories,
                        'site' : site
                    }  %}
                </div>
            {% endif %}
            <a id="scroll-child-categories" class="anchor"></a>
            <div class="hide-models all-child-categories" id="child-categories"></div>
        </div>
    </section>
    {% if site_config().configSlider.isDisplaySell %}
        {% include '@SaleSites/Partials/slider-carousel.html.twig' with { 'site': 'sell'} %}
    {% endif %}
    {% if site_testimonials()|length %}
        {% include '@SaleSites/Partials/testimonials-carousel.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('build/sell-page.js') }}"></script>
{% endblock %}
