{% for category in categories %}
    <div class="col-md-3 col-sm-4 big-circle-buy-category">
        <a href="{{ site_path('selling_category_items_list', {'id': category.id, 'slug': category.slug}) }}">
            <div class="circle">
            <span>
                {% if category.getImage %}
                    <img src="{{ vich_uploader_asset(category.getImage, 'imageFile') }}" alt="{{ category.title }}">
                {% else %}
                    <img src="{{ asset('img/buy/1.png') }}" alt="{{ category.title }}">
                {% endif %}
            </span>
            </div>
            <p>{{ category.title }}</p>
        </a>
    </div>
{% endfor %}
