{% extends '::base.html.twig' %}

{% block title %}{{ 'Buy, Sell, Repair' | trans }}{% endblock %}

{% block favicon %}
    <link rel="shortcut icon" href="
        {% if site_config().configLogo.useSelectedAsFavicon and
        (site_config().configLogo.getLogoImage or site_config().configLogo.getRenderedLogoImage) %}
            {% if site_config().configLogo.useDefaultImage and site_config().configLogo.getRenderedLogoImage %}
                {{ vich_uploader_asset(site_config().configLogo.getRenderedLogoImage, 'imageFile') }}
            {% elseif site_config().configLogo.getLogoImage %}
                {{ vich_uploader_asset(site_config().configLogo.getLogoImage, 'imageFile') }}
            {% endif %}
        {% elseif site_config().configLogo.getFaviconImage %}
            {{ vich_uploader_asset(site_config().configLogo.getFaviconImage, 'imageFile') }}
        {% else %}
            {{ asset('img/repair_logo2sm.png') }}
        {% endif %}
        " type="image/ico">
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/layout.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/media-queries/common.css') }}">

    {% if site_config().rootTheme %}
        <link rel="stylesheet" href='{{ asset(
            "build/css/theme/" ~ site_config().rootTheme.title  ~ ".css"
        ) }}'>
    {% endif %}
    {% if site_config().buyTheme %}
        <link rel="stylesheet" href='{{ asset(
            "build/css/theme/sell-" ~ site_config().buyTheme.title|replace({' ': '-'})  ~ ".css"
        ) }}'>
    {% endif %}
    {% if site_config().sellTheme %}
        <link rel="stylesheet" href='{{ asset(
            "build/css/theme/buy-" ~ site_config().sellTheme.title|replace({' ': '-'})  ~ ".css"
        ) }}'>
    {% endif %}
    {% if site_config().repairTheme %}
        <link rel="stylesheet" href='{{ asset(
            "build/css/theme/repair-" ~ site_config().repairTheme.title|replace({' ': '-'})  ~ ".css"
        ) }}'>
    {% endif %}
    {% if site_config().configTexts.font %}
        <link rel="stylesheet" href='{{ asset(
            "build/css/font/" ~ site_config().configTexts.font   ~ ".css"
        ) }}'>
    {% endif %}
    {% if site_config().backgroundColor or site_config().configTexts %}
        <style>
            .body-background {
                background-color: #{{ site_config().backgroundColor }};
            }
            .brand-name {
            {% if site_config().configTexts.businessNameSize %}
                font-size: {{ site_config().configTexts.businessNameSize }};
            {% endif %}
            }
            .configurable-text {
            {% if site_config().configTexts.font %}
                font-family: {{ site_config().configTexts.font }}!important;
            {% endif %}
            {% if site_config().configTexts.businessNameColor %}
                color: #{{ site_config().configTexts.businessNameColor }} !important;
            {% endif %}
            }
        </style>
    {% endif %}
{% endblock %}


{% block top_javascript %}
    {{ parent() }}
    <script>
        var USER_ID = {{ site_user().id }};
    </script>

    <script src="{{ asset('build/paypal-express.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="big-container" ng-app="SaleSitesApp">
        {% block header %}
            {% embed '@SaleSites/Layout/header.html.twig' %}{% endembed %}
        {% endblock %}

        {% block content %}{% endblock %}
    </div>

    {% block footer %}
        {% include '@SaleSites/Layout/footer.html.twig' %}
    {% endblock %}
{% endblock %}
