<div class="container">
    <h2>{{ header }}</h2>
    <hr>
    {% if items|length %}
        {% for item in items %}
            <a href="#scroll-{{ target }}"  class="brand show-{{ target }}"
               data-target="{{ target }}"
               data-collapse="{{ collapse }}"
               {% if product_id is defined and carrier_id is defined and category is defined %}
                   data-path="{{ site_path(path, {'categoryId': category.id, 'filterId': item.id, 'productId': product_id, 'site': site }) }}"
               {% elseif category is defined and product_id is defined %}
                   data-path="{{ site_path(path, {'filterId': item.id, 'site': site, 'categoryId': category.id, 'productId': product_id}) }}"
               {% elseif category is defined %}
                   data-path="{{ site_path(path, {'id': item.id, 'site': site, 'categoryId': category.id}) }}"
               {% elseif path == 'api_get_products' %}
                   data-path="{{ site_path(path, {'id': item.id, 'site': site}) }}"
               {% endif %}
            >
                <div>
                {% if item.getImage %}
                    <img src="{{ vich_uploader_asset(item.getImage, 'imageFile') }}" alt="{{ item.title }}">
                {% else %}
                    <img src="{{ asset('img/buy/1.png') }}" alt="{{ item.title }}">
                {% endif %}
                </div>
                <span>{{ item.title }}</span>
            </a>
        {% endfor %}
    {% else %}
        <h2>Coming soon!</h2>
    {% endif %}
</div>
