<div class="container">
    <hr>
    <!--Anchor on scroll-carier-->
    {% for model in models %}
        <a class="brand" href="{{ site_path(path, {'id': model.id, 'slug': model.slug}) }}">
            {% if model.getImage %}
                <img src="{{ vich_uploader_asset(model.getImage, 'imageFile') }}" alt="{{ model.title }}">
            {% else %}
                <img src="{{ asset('img/sell/model/1.jpg') }}" alt="{{ model.title }}">
            {% endif %}
            <span>{{ model.title }}</span>
            <button class="btn">Get an offer</button>
        </a>
    {% else %}
        <h2>Coming soon!</h2>
    {% endfor %}
</div>
