<div class="row models">
    {% for item in items %}
        <div class="col-md-3">
            <a
                    {% if item.children|length %}
                        href="#scroll-child-categories"  class="show-more"
                        data-target="child-categories"
                        data-path="{{ site_path('api_get_child_categories', {'id': item.id, 'site': site}) }}"
                    {% else %}
                        href="{{ site_path('selling_category_items_list', {'id': item.id, 'slug': item.slug}) }}"
                    {% endif %}
            >
                <div class="circle">
                    <span>
                        {% if item.getImage %}
                            <img src="{{ vich_uploader_asset(item.getImage, 'imageFile') }}" alt="{{ item.title }}">
                        {% else %}
                            <img src="{{ asset('img/buy/1.png') }}" alt="{{ item.title }}">
                        {% endif %}
                    </span>
                </div>
                <p>{{ item.title }}</p>
            </a>
        </div>
        {% if loop.index%4 == 0 %}
            <div class="row separator"></div>
        {% endif %}
    {% endfor %}
</div>
