<div class="info-block">
    {% set location = site_location_main() %}
    {% if location %}
        {% if location.description %}
            {{ location.description }}
        {% endif %}
        {% if location.phone %}
            <div class="header-phone">
                <i class="fa fa-phone"></i>
                {{ location.phone }}
            </div>
        {% endif %}
    {% endif %}
</div>
