<div class="info-block checkout" ng-controller="HeaderCartController as vm">
    <i class="fa fa-shopping-cart"></i>
    <span class="sum">
        $ <b>{% verbatim %}{{ vm.checkoutSum()/100 }}{% endverbatim %}</b>
    </span>
    <a href="{{ site_path('sale_sites_checkout_page') }}" class="checkout-link" title="Checkout">
        ShoppingCart
        <i class="fa fa-arrow-right"></i>
    </a>
</div>
