{% verbatim %}
<script id="message-template.html" type="text/ng-template">
    <div ng-repeat="infoMessage in vmMessage.getMessages()">
        <div class="alert col-md-12 m-bottom-0" ng-class="infoMessage.messageClass" role="alert">
            {{ infoMessage.messageText }}
        </div>
    </div>
</script>
{% endverbatim %}
