<section class="advantage">
    <div class="container">
        <ul>
            {% for offer in site_config().offerImages %}
                {% if offer.setting.isActive %}
                    <li>
                        <img src="{{ vich_uploader_asset(offer, 'imageFile') }}"
                             alt="{{ offer.setting.title }}">
                        <h4>{{ offer.setting.title }}</h4>
                        <p>{{ offer.setting.description }}</p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>
