<div id="carousel-example-generic" class="carousel slide big-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for image in site_config().configSlider.getSliderImagesForSite(site) %}
            <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index - 1 }}"
            {% if loop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for image in site_config().configSlider.getSliderImagesForSite(site) %}
            <div class="item {% if loop.first %}active{% endif %}">
                {% if image.setting.link %}
                    <a href="{{ image.setting.link }}">
                {% endif %}
                <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.imageName }}">
                {% if image.setting.link %}
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
