<section class="testimonials">
    <div class="container comments">
        <div class="text-center">
            <img src="{{ asset('img/landing/message.png') }}">
        </div>
        <div class="buy-back-text">
            <p class="configurable-text">
            {% if site_config().configTexts.testimonialsTitle %}
                {{ site_config().configTexts.testimonialsTitle }}
            {% else %}
                See what our customers are saying
            {% endif %}
            </p>
        </div>
        <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="7000">
            <ol class="carousel-indicators">
                {% for item in site_testimonials() %}
                    <li data-target="#fade-quote-carousel" data-slide-to="{{ loop.index - 1}}"
                        {% if loop.first %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for item in site_testimonials() %}
                <div class="item {% if loop.first %}active{% endif %}">
                    <div class="white-border">
                        <blockquote>
                            <p>{{ item.content }}</p>
                        </blockquote>
                    </div>
                    <h5 class="name">{{ item.testimonial }}, {{ item.location }}</h5>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
