.sell-page .models p:hover,
.sell-page .show-all b:hover {
    border-color: $color;
    color: $color;
}

.menu-buttons .sell:hover {
    border-color: $color;
    color: $color;
}

.sell {
    background: $color;
    border-color: $color;
}

.sell-page {
    background: $color;
}