.brand {
    display: inline-block;
    text-align: center;
    padding: 15px;
    opacity: 0.5;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    color: #000;
    vertical-align: top;
}

.brand img {
    max-width: 100%;
    margin-bottom: 10px;
}

.sell-page .hide-models {
    background: #fff;
}

.brand:hover {
    text-decoration: none;
    opacity: 1;
    color: #000;
}

.all-brands,
.all-carier,
.all-model {
    padding-top: 80px;
}

.all-model .menu-buttons {
    float: left;
}

.all-model .brand {
    opacity: 1;
}

.all-model .brand:hover {
    color: #eb3812;
}

.all-model img {
    height: 130px;
    display: block;
    margin: 0 auto 10px;
}

.all-model span {
    display: block;
    padding-bottom: 10px;
}

.all-model .btn,
.all-model .btn:hover {
    color: #000;
    border: 1px solid #e4e4e4;
    background: #fff;
    box-shadow: 0 0 6px #ededed;
    transition: 0.3s linear;
    top: 0;
    font-weight: bold;
}

.all-model a:hover .btn {
    top: -10px;
}