.buy-workflow ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pagination .page a, .pagination .current {
    color: #fff;
    background: #337ab7;
    border: 1px solid #2e6da4;
    display: inline-block;
    padding: 2px 7px;
    margin: 0 4px !important;
    border-radius: 10%;
    text-decoration: none;
}

.pagination .current {
    background: #fff;
    color: #337ab7 !important;
}

.select {
    float: right;
}

.buy-workflow .menu-buttons {
    float: none;
}

.buy-workflow .list-products a:hover {
    text-decoration: none;
}

.buy-workflow img {
    display: block;
    margin: 0 auto 10px;
    height: auto;
    max-width: 100%;
    max-height: 170px;
}

.buy-workflow .list-products .item-product {
    border-radius: 4px;
    border: 1px solid #DDD;
    box-shadow: 0 0 2px 1px #eee;
    padding: 10px;
    margin: 10px 0.5%;
    background: #ffffff;
    text-align: left;
    box-sizing: border-box;
    width: 24%;
}

.buy-workflow .list-products .item-product:hover {
    box-shadow: 0 0 10px 0 #ccc;
}

.buy-workflow .list-products .model {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    height: 40px;
    margin: 0;
    overflow: hidden;
}

.buy-workflow .list-products .price {
    color: #af0000;
    margin: 10px 0 20px;
}

.buy-workflow .menu-buttons .btn:hover {
    top: -5px;
}

.panel-body {
    padding: 0;
}

.panel-heading {
    padding: 10px 0;
}

.panel-title a {
    display: block;
    background: #fff;
    border-bottom: 1px solid #ccc;
    margin: -10px 0;
    padding: 10px;
    box-shadow: 0 1px 2px 1px #eee;
    color: #4774b2;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
}

.cute li {
    padding: 4px 15px;
    border-bottom: 1px solid #eee;
}

.cute li input {
    margin-right: 5px;
}

.select span {
    font-weight: bold;
    margin-right: 5px;
}

.select .dropdown .btn {
    display: initial;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-top: 5px;
}

.select .dropdown {
    float: right;
    margin-top: -10px;
}

.buy-workflow .list-products h2 {
    font-size: 22px;
    letter-spacing: -1px;
    margin: 0 0 1.5em;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px 1px #eee;
    text-transform: uppercase;
    background: #ffffff;
}

.panel-title a {
    font-size: 14px;
}

.panel-title a:hover,
.panel-title a:visited,
.panel-title a:focus {
    text-decoration: none;
}

.toggle-elem {
    margin: 0;
}

.toggle-elem i {
    background: #4774b2;
    color: #fff;
    width: 11px;
    height: 13px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    padding-top: 1px;
    vertical-align: text-top;
}

.filter {
    text-decoration: none !important;
    color: #333 !important;
}

.buy-workflow .list-products .item-product p {
    text-align: left;
}

.buy-workflow .list-products .item-product p.btn {
    text-align: center;
}