.sell-page .circle {
    height: auto;
    border-radius: 100%;
    padding: 10px;
    box-shadow: none;
    border: 0;
    width: 225px;
    overflow: hidden;
    margin: 0 auto;
}

.sell-page .models span {
    overflow: hidden;
    height: 200px;
}

.sell-page .models img {
    max-height: 100%;
}

.sell-page .models p {
    max-width: 200px;
}

.models p,
.show-all b {
    transition: 0.3s linear;
    position: relative;
    top: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin: 20px auto 0 auto;
    border-radius: 30px;
    padding: 8px;
}

.show-all b {
    max-width: 130px;
}

.models a:hover {
    text-decoration: none;
    color: #fff;
}

.hide-models {
    display: none;
}

.show-all {
    width: 100%;
    margin-top: 20px;
}

.show-all:hover {
    box-shadow: none;
}

.show-all b {
    width: 100%;
}

.hide-models .circle span {
    padding: 0 20px;
}

.hide-models.models img {
    max-width: 90%;
}