.models p,
.show-all b {
    transition: 0.3s linear;
    position: relative;
    top: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin: 20px auto 0 auto;
    border-radius: 30px;
    max-width: 130px;
    padding: 8px;
}

.models a:hover {
    text-decoration: none;
    color: #fff;
}

.show-all {
    width: 100%;
    margin-top: 20px;
}

.show-all:hover {
    box-shadow: none;
}

.show-all b {
    width: 100%;
}

.hide-models .circle span {
    padding: 0 20px;
}

.hide-models.models img {
    max-width: 90%;
}