body {
    margin-top: 120px;
}

.checkout {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    padding-left: 15px;
}

.checkout-header-complete {
    text-align: center;
}

.checkout-header-complete .complete-order {
    background: #f8ffed;
    border-radius: 200px 60px 60px 200px;
    -moz-border-radius: 200px 60px 60px 200px;
    -webkit-border-radius: 200px 60px 60px 200px;
    border: 1px solid #91ce33;
}

.checkout-header-complete h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

.checkout-header-complete p:first-child {
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
}

.checkout-header-complete p {
    margin-bottom: 0;
}

.checkout-header-complete p span {
    color: #91ce33;
}

.print {
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    padding: 3px 5px;
    width: max-content;
}

.print img {
    display: inline;
}

.checkout-order {
    padding-top: 10px;
    height: 45px;
}

.checkout-order p {
    font-size: 25px;
    color: #fff;
}

.checkout-order p {
    background: #91ce33;
    border-radius: 0 200px 200px 0;
    -moz-border-radius: 0 200px 200px 0;
    -webkit-border-radius: 0 200px 200px 0;
    border: 2px solid #91ce33;
    display: inline;
    padding-right: 15px;
}

.complete-order .complete img {
    float: left;
}

.complete-order div:first-child {
    padding-left: 0;
}

.total-cost .total {
    font-weight: bold;
    padding-top: 10px;
    font-size: 18px;
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    float: none;
}

.checkout-basket {
    padding: 0 15px;
}

.radio,
.checkbox,
.radio-check-button {
    display: inline;
}

.radio-check-button label {
    cursor: pointer;
}

.checkbox-form-wrapper {
    display: inline-block;
    margin-top: 15px;
}

.checkbox-form-wrapper
input[type=checkbox] {
    position: static;
}

.checkbox-form-wrapper
.pay-details input,
.checkbox-form-wrapper
input[type=checkbox]
{
    margin-right: 10px;
    margin-bottom: 0;
}

.checkbox-form-wrapper a {
    color: #000;
}

.checkbox-form-wrapper a:hover {
    color: #000;
    text-decoration: underline;
}

.radio img {
    padding-right: 5px;
}

.image {
    width: 90px;
    height: 90px;
    border: 2px solid #ddd;
    background: #fff;
    margin: 0 auto;
}

.image img {
    padding: 5px;
}

.checkout .first-col {
    padding-left: 0;
    font-weight: bold;
}

.checkout .menu-buttons {
    margin-top: 0;
    text-align: center;
}

.counter input {
    width: 20px;
    padding: 0;
    border: none;
    text-align: center;
    height: 33px;
}

.counter button {
    border: none;
    background: inherit;
    color: #91ce33;
}

.counter button:focus {
    outline-color: #fff;
}

.counter {
    border: 1px solid #e5e5e5;
    background: #fff;
    height: 35px;
    margin: 0 auto;
    font-weight: bold;
    border-radius: 5px;
    padding: 0;
}

.arrow-collapse {
    width: 90px;
    background: #91ce33;
    margin: 0 auto;
    height: 25px;
}

.arrow-collapse img {
    margin: 0 auto;
    display: block;
    vertical-align: middle;
    padding-top: 5px;
}

.panel-default>.panel-heading {
    padding: 0;
    background: #e5e5e5;
    border: none;
}

.act,
.menu-buttons .btn.act:hover {
    background: #f7894f;
    color: #fff;
    border-color: #f7894f;
}

.deact,
.menu-buttons .btn.deact:hover {
    background: #d3d3d3;
    color: #fff;
    border-color: #d3d3d3;
}

.menu-buttons .btn.deact {
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.1);
    font-size: 16px;
    font-weight: bold;
}

.checkout-panel .active {
    border-radius: 0 0 5px 5px;
}

.body-checkout {
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 0 5px 5px 5px;
    padding: 10px 0 30px;
}

.body-checkout .row {
    padding: 5px 100px 10px 100px;
}

.checkout-panel .nav-tabs>li.active>a {
    border-radius: 5px 5px 0 0;
    background: #f7f7f7;
}

.checkout-panel ul li a {
    font-weight: bold;
    color: #000;
    border: 1px solid #ddd;
    margin: 0;
    padding: 10px 50px;
}

.checkout-panel ul li a:hover {
    color: #000;
}

.checkout-panel .nav-tabs>li a.border-right-none {
    border-right-style: none;
}

.nav-tabs {
    border: none;
}

.customer-info p {
    font-size: 15px;
    font-weight: bold;
    padding: 25px 0 5px;
    text-transform: uppercase;
}

.bor-none,
.checkout-panel .bor-none,
.nav-tabs.payment>li.active>a {
    border: none;
}

.nav-tabs.payment>li>a:hover {
    background: inherit;
    cursor: pointer;
}

.nav.payment>li>a,
.car-on-delivery {
    padding-top: 0;
    padding-left: 0;
}

.customer-info .image {
    display: inline-block;
}

.customer-info .place img {
    width: 20px;
    height: 20px;
    margin: 0 4px;
}

.popover {
    position: relative;
    display: block;
    float: right;
    width: 215px;
    background: #f7f7f7;
    box-shadow: none;
    border-radius: 6px 0 0 6px;
    z-index: 1;
}

.total-cost span {
    border: #f7f7f7;
}

.total-cost p {
    width: 60%;
    margin: 0 auto;
    font-weight: normal;
    padding: 2px 0;
}

.total-cost span {
    float: right;
}

.confirm {
    text-align: center;
    display: inline-block;
    position: relative;
}

.confirm-allign-vertical {
    height: 100px;
}

.confirm.menu-buttons .confirm-allign-vertical a {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 0;
}

.bottom-checkout {
    display: inline-block;
    padding-bottom: 20px;
}

.checkout-panel .menu-buttons .btn {
    margin: 5px 0 20px;
}

.bottom-checkout .confirm .menu-buttons {
    text-align: center;
}

.checkout .btn {
    text-transform: inherit;
}

.footer-checkout {
    padding: 15px 0;
    background: #f3fae7;
    margin: 0 0 50px 0;
}

.footer-checkout .menu-buttons {
    text-align: center;
}

.footer-checkout .menu-buttons .circle-img {
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    background: #f7894f;
    top: -7px;
    left: -30px;
    width: 45px;
    height: 45px;
}

.footer-checkout .menu-buttons .btn {
    border-radius: 0 20px 20px 0;
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.footer-checkout .menu-buttons .continue .circle-img,
.footer-checkout .menu-buttons .continue {
    background: #93d624;
}

.footer-checkout .continue:hover {
    background: #93d624;
    color: #fff;
    border-color: #93d624;
}

.panel-collapse {
    margin-bottom: 10px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #000;
}

.total-cost p {
    text-transform: none;
}

.bottom-checkout .act.pull-right {
    margin-top: 10px;
}

.cost-pickup {
    padding-top: 25px;
}

.body-checkout hr {
    border: 1px solid #f7f7f7;
    border-top: 1px solid #bebebe;
    padding-bottom: 10px;
}

.store-adress {
    padding: 25px 15px;
}

.store-adress p {
    padding: 0;
    margin: 0;
    text-transform: none;
}

.body-checkout .store-adress p {
    text-align: center;
}

.panel-body {
    padding: 30px 100px;
}

.bottom-pickup {
    background: #fbfbfb;
    border: 1px solid #ddd;
}

.cost-pickup .menu-buttons {
    padding: 15px 0;
}

.border-location .store-adress {
    background: #fbfbfb;
    padding: 10px 25px;
    text-align: left;
    font-weight: bold;
}

.border-location .customer-info p {
    padding: 0;
}

.notice {
    float: left;
    font-size: 16px;
    padding: 0;
}

.checkout-header-complete .print {
    margin-top: 15px;
}

.credit-cards a {
    padding: 0 3px;
}

.body-checkout .confirm .btn:hover {
    top: -20px;
}

.payment {
    margin-top: 60px;
}

.pay-details select, .pay-details input {
    margin-bottom: 15px;
}

.header-table {
    background: #f3fae7;
    text-align: center;
    border-top: 1px solid #ddd;
    height: 42px;
}

.checkout-basket {
    width: 50px;
    cursor: pointer;
}

.header-table > div {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.row.sell-block {
    padding: 10px 0;
}

.sell-block > div {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.checkout-panel .row {
    margin: 0;
    position: relative;
}

.confirm-block {
    width: 10%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.main-item-block {
    width: 90%;
}

.sell-block {
    border-top: 1px solid #ddd;
}

.confirm-block .header-table {
    border-bottom: 1px solid #ddd;
}

.confirm-block .header-table {
    height: 43px;
    border-bottom: 1px solid #ddd;
}

.confirm-block .header-table div {
    padding-top: 11px;
}

.confirm-block .sell-block {
    position: absolute;
    right: 0;
    top: 50%;
    border-top: none;
}

.checkout-arrow {
    background: #e5e5e5;
    height: 25px;
    margin-bottom: 2px;
    width: 100%;
    display: block;
}

.address-row div {
    display: inline-block;
    width: 49%;
}

.address-row div:nth-child(2) {
    float: right;
}

@media screen and (max-width: 768px) {
    .panel-body {
        padding: 30px 10px;
    }

    .body-checkout .row {
        padding: 5px 10px 10px 10px;
    }
}