.contact-us .column {
    padding: 20px 15px 25px;
}

.captcha img {
    padding: 0 5px 10px 0;
}

.contact-us .menu-buttons {
    float: left;
}

textarea {
    width: 100%;
    height: 200px;
}

select {
    width: 100%;
}

.information-block {
    padding: 25px;
    margin: 25px 0 15px;
    border-radius: 10px;
    background-color: #f5f5f5;
    font-size: 12px;
}

.information-block h4 {
    margin: 0;
    padding: 0 0 15px;
    border-bottom: 1px solid #DDD;
    font-size: 16px;
    font-weight: bold;
}

.information-block .hours {
    display: block;
    padding-bottom: 5px;
}

.information-block .services {
    text-transform: capitalize;
}

.information-block p {
    padding-top: 15px;
}

