body {
    background: #00a65a;
}

.faq.panel-group {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin: 40px auto 20px;
}

.faq.sell-page {
    box-shadow: none;
}

.faq .panel-title a {
    display: block;
}

.faq .panel-default {
    width: 100%;
    margin-bottom: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
}

.faq .panel-default h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3em;
    color: #a4a4a4;
}

.faq .panel-title a:hover,
.faq .panel-title a:focus {
    text-decoration: none;
}

.faq .panel-heading {
    border-radius: 10px;
}

.faq.panel-default:focus {
    background: #fff;
    color: #000;
}

.toggle-elem i {
    background: inherit;
    color: #a4a4a4;
    font-size: 25px;
}

.faq .panel-default .active {
    color: #000;
}

.faq .panel-title.active {
    border-bottom: none;
}

.faq .active .toggle-elem i {
    color: #000;
}

.faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: #fff;
    color: #767676;
}

.toggle-list {
    float: right;
}

.faq .header-faq {
    border: none;
    box-shadow: none;
    margin: 10px 0 -10px -15px;
}

.faq .header-faq .panel-heading {
    background: #f2f2f2;
    border: none;
}

.faq .header-faq h4 {
    color: #000;
}