@font-face {
    font-family: 'Furore';
    src: url('/sites/fonts/furore_regular.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/sites/fonts/roboto.ttf');
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #fff;
    border-top: 3px solid black;
    top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e8eb;
    height: 96px;
}

.logo {
    font-family: 'Furore', Helvetica, sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    color: #000;
    margin-top: 10px;
    display: block;
    float: left;
}

.logo span {
    text-decoration: none;
    color: #000;
}

.logo:hover {
    text-decoration: none;
    color: #00006a;
}

.logo img {
    width: 40px;
}

.logo.large img {
    width: 42px;
}

.logo.medium img {
    width: 36px;
}

.logo.small img {
    width: 28px;
}

.top-icons i {
    margin-right: 5px;
}

.top-icons a {
    color: #000;
    padding: 0 14px;
    font-size: 13px;
    float: left;
    padding-top: 6px;
}

.top-icons .checkout-link {
    padding-top: 0;
}

.top-icons .fa {
    font-size: 16px;
}

.info-block {
    color: #fff;
    padding: 5px 0 8px 10px;
    display: inline-block;
    width: 500px;
    border-radius: 0 0 0 4px;
}

.top-icons {
    float: right;
}

.info-block i {
    margin-left: 5px;
}

.menu-buttons {
    text-align: right;
    margin-top: 50px;
}

.menu-buttons .btn {
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 4px 16px;
    min-width: 100px;
    min-height: 30px;
    box-shadow: 1px 1px 1px 0 #bbb;
    transition: 0.3s linear;
    position: relative;
    top: 0;
    margin: 0 2px;
}

.menu-buttons .btn:hover {
    background: #fff;
    top: -10px;
}

.header-phone {
    display: inherit;
}