.banner {
    background: #f9fcff;
    padding-top: 60px;
    box-shadow: 0 1px 0 0 #eee;
}

.banner .big-phone li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
}

.txt-section h2 {
    font-family: 'Furore', Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.txt-section {
    margin: 30px 0 40px;
    padding-top: 40px;
}

.txt-section hr {
    padding: 0;
}

.big-phone a {
    transition: 0.2s linear;
    position: relative;
    display: block;
    top: 0;
}

.big-phone a:hover {
    top: -20px;
    text-decoration: none;
}

.big-phone span h4 {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
}

.big-phone span h5 {
    color: #000;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

.big-phone .third-img h4 {
    font-size: 30px;
}

.big-phone img {
    z-index: 1;
    position: relative;
}

.first-img .circle span {
    text-align: left;
}

.first-img .circle {
    left: 20px;
}

.second-img {
     margin: 0 -95px;
}

.second-img .circle {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.second-img .circle span {
    padding-top: 0;
}

.third-img .circle {
    right: 10px;
}

.third-img .circle span {
    text-align: right;
}

.description {
    color: #fff;
    text-align: center;
    display: table;
    width: 100%;
}

.description div {
    height: 230px;
    padding-top: 30px;
}

.description img {
    margin-right: 1em;
    height: 60px;
}

.description span {
    font-size: 30px;
    text-transform: uppercase;
}

.description p {
    line-height: 2;
    margin: 20px 0 0;
    font-size: 12px;
    padding: 0 5px;
}

.big-phone {
    padding-left: 10px;
}

.one-item-banner {
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}

.two-item-banner {
    margin-left: auto;
    margin-right: auto;
    width: 67%;
}

.red {
    color: red;
}
