.item .img-product {
    height: 350px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px 1px #eee;
    background: #ffffff;
}

.item .img-product img {
    height: 100%;
    display: block;
    margin: 0 auto;
    padding: 6px;
}

.item .menu-buttons {
    margin-top: 0;
}

.item .menu-buttons h2 {
    font-size: 22px;
    letter-spacing: -1px;
    margin: 0 0 30px;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px 1px #eee;
    text-transform: uppercase;
    background: #ffffff;
}

.item .menu-buttons h3 {
    display: inline;
    padding-right: 10px;
}

.item .menu-buttons .row {
    font-size: 16px;
}

.item .menu-buttons p {
    margin: 5px 0 0;
    font-size: 14px;
}

.item .menu-buttons hr {
    border-top: 1px solid #ddd;
    margin-bottom: 5px;
}

.item .description-item {
    margin-top: 30px;
}

.price-amount {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 20px;
    box-shadow: 0 0 2px 1px #eee;
    display: inline-block;
    width: 100%;
    margin: 20px -1px;
    background: #ffffff;
}

.item-price {
    color: #af0000;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    display: inherit;
}

.available {
    float: right;
    padding-top: 5px;
}

.available div {
    display: inline-block;
    margin-left: 20px;
    font-weight: 700;
    font-size: 16px;
}

.available input {
    display: inline-block;
    width: auto;
}

.item .menu-buttons .checkout {
    min-width: 200px;
    padding: 14px 16px;
    font-size: 16px;
    float: left;
}

.buy-item .menu-buttons .ch-model {
    margin-top: -10px;
}

.buy-item > div {
    margin-top: 0;
}