.repair-item .paid.btn:hover {
    background: #fff;
}

.small-pay-txt {
    font-size: 12px;
    padding-left: 65px;
}

.repair-item .condition p {
    padding: 0 15px;
}

.repair-item .condition div:hover p,
.repair-item .condition div:focus p,
.repair-item .condition .active p {
    color: #fff;
    background-color: #afcf3d;
}

.sell-item .paid.btn {
    background: #a3ff21;
    min-width: auto;
    width: auto;
    float: right;
    margin-right: 30px;
    border-color: #afcf3d;
}

.sell-item .paid.btn:hover {
    color: #ffffff;
    border-color: #afcf3d;
    background-color: #afcf3d;
}

.repair-item .menu-buttons {
    width: 80%;
    text-align: left;
}