.sell-item .img-circle {
    border-radius: 100%;
    text-align: center;
    box-shadow: 0 0 10px 0 #ccc;
    background: #ffffff;
    overflow: hidden;
    padding: 20px;
    height: 200px;
    width: 200px;
    float: left;
}

.sell-item .img-circle img {
    max-width: 100%;
    max-height: 100%;
}

.sell-item h2 {
    border: none;
    box-shadow: none;
    font-size: 27px;
    text-transform: capitalize;
    text-align: left;
}

.sell-item .menu-buttons .btn {
    background-color: #d9534f;
    font-size: 14px;
    padding: 5px 15px 0;
    font-weight: bold;
    letter-spacing: normal;
}

.sell-item .menu-buttons {
    display: inline-table;
    margin-top: 10px;
    padding-left: 15px;
}

.sell-item .btn:hover {
    background-color: #c9302c;
    border-color: #c9302c;
    color: #fff;
}

.sell-item hr {
    margin-left: -15px;
}

.sell-item .form-control {
    width: 70%;
}

.sell-item .menu-buttons .row {
    margin-top: 30px;
}

.pay {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    padding: 6px 15px;
    width: 480px;
    text-align: center;
    box-shadow: 0 0 3px 0 #DDD;
    background: #ffffff;
}

.pay p {
    margin: 0;
    font-size: 16px;
}

.sell-item p {
    font-weight: bold;
}

.pay span {
    font-size: 30px;
    display: block;
    color: #ce0000;
}

.sell-item .paid.btn {
    background: #337ab7;
    min-width: auto;
    width: auto;
    float: right;
    margin-right: 30px;
}

.sell-item .paid.btn:hover {
    background: #286090;
    border-color: #286090;
}

.condition {
    margin-top: 60px;
}

.condition .block-item {
    padding: 0;
}

.condition .item-price {
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 6px 1px #ccc;
    text-align: center;
    min-height: 130px;
    padding: 0;
    background: #fff;
    margin: 5px;
}

.condition p {
    display: table-cell;
    height: 60px;
    vertical-align: middle;
    color: #337ab7;
    font-size: 20px;
    padding: 15px 0;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    width: 350px;
    margin: 0;
}

.condition div:hover p,
.condition div:focus p,
.condition .active p {
    background-color: #337ab7;
    color: #fff;
}

.condition span {
    padding: 10px 15px;
    display: block;
    font-size: 14px;
}

.quantity {
    float: left;
}

.sell-item .menu-buttons {
    margin-top: 0;
}