{% extends 'SaleSitesBundle::layout.html.twig' %}
{% block header %}
    {% embed '@SaleSites/Layout/header.html.twig' %}
        {% block header_info_block %}
            {% include '@SaleSites/Partials/header-info.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/media-queries/index.css') }}">
{% endblock %}

{% block title %}
    {% if site_seo('landing') %}
        {{ site_seo('landing').title }}
    {% else %}
        Buy, Sell, Repair
    {% endif %}
{% endblock %}

{% block meta %}
    {% if site_seo('landing') %}
        <meta name="description" content="{{ site_seo('landing').description }}">
        <meta name="keywords" content="{{ site_seo('landing').keyword }}">
    {% endif %}
{% endblock %}

{% block content %}
    {% set sic = get_subscribed_items_count() %}
    <section class="banner">
        <div class="container">
            <div class="txt-section">
                <div class="row">
                    <hr class="col-md-3 col-sm-3">
                    <h2 class="col-md-6 col-sm-6 configurable-text">
                        {% if site_config().configTexts.landingPageTitle %}
                            {{ site_config().configTexts.landingPageTitle }}
                        {% else %}
                            Buy, Sell, Repair or Unlock Your Devices Today!
                        {% endif %}
                    </h2>
                    <hr class="col-md-3 col-sm-3">
                </div>
            </div>
            <ul class="row big-phone {% if sic == 2 %}two-item-banner{% elseif sic == 1 %}one-item-banner{% endif %}">
                {% if is_sell_subscribed() %}
                    <li>
                        <a href="{{ site_path('selling_site_homepage') }}" class="first-img">
                            <div class="circle">
                                <span class="buy">
                                    <h4>Buy</h4>
                                    <h5>Smart</h5>
                                </span>
                            </div>
                            <img src="{{ asset('img/landing/mainSite_banner_img1.png') }}" alt="">
                        </a>
                    </li>
                {% endif %}
                {% if is_buy_subscribed() %}
                    {% if sic == 2 %}
                        {% if is_sell_subscribed() %}
                            <li>
                                <a href="{{ site_path('buying_site_homepage') }}" class="third-img">
                                    <div class="circle">
                                <span class="sell">
                                    <h4>Sell</h4>
                                    <h5>Smart</h5>
                                </span>
                                    </div>
                                    <img src="{{ asset('img/landing/mainSite_banner_img3.png') }}" alt="">
                                </a>
                            </li>
                        {% endif %}
                        {% if is_repair_subscribed() %}
                            <li>
                                <a href="{{ site_path('buying_site_homepage') }}" class="first-img">
                                    <div class="circle">
                                <span class="sell">
                                    <h4>Sell</h4>
                                    <h5>Smart</h5>
                                </span>
                                    </div>
                                    <img src="{{ asset('img/landing/mainSite_banner_img1.png') }}" alt="">
                                </a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li>
                            <a href="{{ site_path('buying_site_homepage') }}" class="second-img">
                                <div class="circle">
                                    <span class="sell">
                                        <h4>Sell</h4>
                                        <h5>Smart</h5>
                                    </span>
                                </div>
                                <img src="{{ asset('img/landing/mainSite_banner_img2.png') }}" alt="">
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if is_repair_subscribed() %}
                    <li>
                        <a href="{{ site_path('repairing_site_homepage') }}" class="third-img">
                            <div class="circle">
                                <span class="repair">
                                    <h4>Repair or Unlock</h4>
                                    <h5>Smart</h5>
                                </span>
                            </div>
                            <img src="{{ asset('img/landing/mainSite_banner_img3.png') }}" alt="">
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </section>
    <section class="description">
        {% if sic == 2 %}
            <div class="col-sm-2 {{ get_first_theme_name_for_two_sites() }}"></div>
        {% endif %}
        {% if sic == 1 %}
            <div class="col-sm-4 {{ get_single_theme_name() }}"></div>
        {% endif %}
        {% if is_sell_subscribed() %}
        <div class="col-sm-4 buy">
            <img src="{{ asset('img/landing/buy_icon.png') }}" alt="">
            <span>Buy</span>
            {% if site_config().configTexts.sellDescription %}
                <p>{{ site_config().configTexts.sellDescription }}</p>
            {% else %}
                <p>Looking to upgrade or replace your old device. If you are buying a new or used iPhone, Samsung Galaxy,
                    iPad, Macbook or other devices and accessories, we can help. Browse our huge selection now.</p>
            {% endif %}
        </div>
        {% endif %}
        {% if is_buy_subscribed() %}
        <div class="col-sm-4 sell">
            <img src="{{ asset('img/landing/sell_icon.png') }}" alt="">
            <span>Sell</span>
            {% if site_config().configTexts.buyDescription %}
                <p>{{ site_config().configTexts.buyDescription }}</p>
            {% else %}
                <p>Selling your device fast and for the most cash should be your priority. We pay the most for many iPhone,
                    Samsung Galaxy, iPad and Macbook models. We offer the best Buyback experience in a safe environment.</p>
            {% endif %}
        </div>
        {% endif %}
        {% if is_repair_subscribed() %}
        <div class="col-sm-4 repair">
            <img src="{{ asset('img/landing/repair_icon.png') }}" alt="">
            <span>Repair or Unlock</span>
            {% if site_config().configTexts.repairDescription %}
                <p>{{ site_config().configTexts.repairDescription }}</p>
            {% else %}
                <p>Don't replace it! We offer fast, convenient and quality repair for iPhone, Samsung Galaxy, iPad, Macbook
                    and other electronic devices. 100% satisfaction guaranteed.</p>
            {% endif %}
        </div>
            {% endif %}
        {% if sic == 2 %}
            <div class="col-sm-2 {{ get_second_theme_name_for_two_sites() }}"></div>
        {% endif %}
        {% if sic == 1 %}
            <div class="col-sm-4 {{ get_single_theme_name() }}"></div>
        {% endif %}
    </section>
    {% if site_config().configSlider.isDisplayLanding %}
        {% include '@SaleSites/Partials/slider-carousel.html.twig' with { 'site': 'landing'} %}
    {% endif %}
    {% if site_testimonials()|length %}
        {% include '@SaleSites/Partials/testimonials-carousel.html.twig' %}
    {% endif %}
    {% include '@SaleSites/Partials/offers.html.twig' %}
{% endblock %}