{% extends 'SaleSitesBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}{{ 'Registration' | trans }}{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/register.css') }}">
{% endblock %}

{% block content %}
    <section class="container-fluid" id="register">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 text-center">
                        <p>{{ 'registration.check_email' | trans({'%email%': user.email}) }}</p>
                        <p><a href="{{ path('fos_user_security_login') }}">Login</a> after confirming your e-mail.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock javascript %}
