{% extends 'SaleSitesBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}{{ 'Registration' | trans }}{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/register.css') }}">
{% endblock %}

{% block content %}
    <section class="container-fluid" id="register">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 text-center">
                        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                            {% if targetUrl %}
                                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
