{% extends 'SaleSitesBundle::layout.html.twig' %}

{% trans_default_domain 'validators' %}
{% block title %}{{ 'Registration' | trans }}{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/register.css') }}">
{% endblock %}

{% block content %}
    <section class="container-fluid" id="register">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 text-center">
                        <h3 class="mb-30">{{ "Registration" | trans }}</h3>
                        <form action="{{ path('fos_user_registration_register') }}" method="post">
                            {{ form_row(form._token) }}
                            <fieldset>
                                <div class="input_box input_box_email mb-20 {{ form_errors(form.email) ? 'error' : '' }}">
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'E-mail*'}} ) }}
                                    {% if form_errors(form.email) %}
                                        <label id="form_email-error" class="text-error" for="form_email">{{ form_errors(form.email) }}</label>
                                    {% endif %}
                                </div>

                                <div class="input_box input_box_password mb-20 {{ form_errors(form.plainPassword.first) ? 'error' : '' }}">
                                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Password*'}} ) }}
                                    {% if form_errors(form.plainPassword.first) %}
                                        <label id="form_password-error" class="text-error" for="form_password">{{ form_errors(form.plainPassword.first) }}</label>
                                    {% endif %}
                                </div>

                                <div class="input_box input_box_password mb-20 {{ form_errors(form.plainPassword.second) ? 'error' : '' }}">
                                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirm password*'}} ) }}
                                    {% if form_errors(form.username) %}
                                        <label id="form_confirm_password-error" class="text-error" for="form_confirm_password">{{ form_errors(form.plainPassword.second) }}</label>
                                    {% endif %}
                                </div>
                                <div class="menu-buttons">
                                    <button type="submit" class="btn buy">{{ "Create new account" | trans }}</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
