<footer>
    <div class="container">
        <div class="col-md-6">
            <div class="footer-header">
                <div class="arrow">
                    <i class="fa fa-chevron-right" aria-hidden="true">
                    </i>
                </div>
                <p>Popular searches</p>
            </div>
            <ul class="footer-search">
                {% for item in get_popular_searches() %}
                        <li>
                            <a href="
                            {% if item.type == constant('ThreeWebOneEntityBundle\\Entity\\PopularSearch::SALE') %}
                                {{ site_path('selling_category_items_list', {'id': item.category.id, 'slug': item.category.slug}) }}
                            {% endif %}
                            {% if item.type == constant('ThreeWebOneEntityBundle\\Entity\\PopularSearch::BUYBACK') %}
                                {{ site_path('buying_site_homepage', {'id': item.category.id, 'slug': item.category.slug}) }}
                            {% endif %}
                            {% if item.type == constant('ThreeWebOneEntityBundle\\Entity\\PopularSearch::REPAIR') %}
                                {{ site_path('repairing_site_homepage', {'id': item.category.id, 'slug': item.category.slug}) }}
                            {% endif %}
                            ">{{ item.title }}</a>
                        </li>
                    {% if not loop.last %} | {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3">
            <div class="footer-header">
                <div class="arrow">
                    <i class="fa fa-chevron-right" aria-hidden="true">
                    </i>
                </div>
                <p>Find out more</p>
            </div>
            <ul class="footer-find">
                <li>
                    <a href="{{ site_path('sale_sites_homepage') }}" id="index-page">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>Home
                    </a>
                </li>

                <li>
                    <a href="{{ site_path('contact_us_page') }}" id="contact-page">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>Contact us
                    </a>
                </li>
                <li>
                    <a href="{{ site_path('faq_page') }}" id="faq-page">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>Faq’s
                    </a>
                </li>

                <li>
                    <a href="{{ site_path('privacy_page') }}" id="privacy-page">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>Privacy Policy
                    </a>
                </li>

                <li>
                    <a href="{{ site_path('terms_page') }}" id="terms-page">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>Terms &amp; Conditions
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="footer-header">
                <div class="arrow">
                    <i class="fa fa-chevron-right" aria-hidden="true"> </i>
                </div>
                <p>Connect with us</p>
            </div>
            <div class="icons">
                {% if site_config().configSocial.twitterLink %}
                    <div class="social-button">
                        <a target="_blank" href="{{ site_config().configSocial.twitterLink }}">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                {% endif %}
                {% if site_config().configSocial.instagramLink %}
                    <div class="social-button">
                        <a target="_blank" href="{{ site_config().configSocial.instagramLink }}">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                {% endif %}
                {% if site_config().configSocial.facebookLink %}
                    <div class="social-button">
                        <a target="_blank" href="{{ site_config().configSocial.facebookLink }}">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>
                ©2018 Quality Cellular All rights reserved
            </p>
        </div>
    </div>
</footer>
