<header>
    <div class="top-icons">
        {% block header_info_block %}
            {% include '@SaleSites/Partials/header-checkout.html.twig' %}
        {% endblock %}
        <a id="faq" href="{{ site_path('faq_page') }}">
            <i class="fa fa-question"></i>Faq`s
        </a>
        <a id="locations" href="{{ site_path('contact_us_page') }}">
            <i class="fa fa-phone"></i>Locations
        </a>

        {% if app.user is null %}
            <a id="locations" href="{{ path('fos_user_security_login') }}">
                Sign in
            </a>
            <a id="locations" href="{{ path('fos_user_registration_register') }}">
                Sign up
            </a>
        {% else %}
            <a id="locations" href="{{ path('sale_sites_profile') }}">
                <i class="fa fa-user"></i> {{ app.user.email }}
            </a>
            <a id="locations" href="{{ path('fos_user_security_logout') }}">
                Logout
            </a>
        {% endif %}
    </div>
    <div class="container menu">
        <a href="{{ site_path('sale_sites_homepage') }}" class="logo
            {% if get_logo_size() == constant('ThreeWebOneEntityBundle\\Entity\\UserConfig\\ConfigLogo::LARGE')  %}
                large
            {% endif %}
            {% if get_logo_size() == constant('ThreeWebOneEntityBundle\\Entity\\UserConfig\\ConfigLogo::MEDIUM')  %}
                medium
            {% endif %}
            {% if get_logo_size() == constant('ThreeWebOneEntityBundle\\Entity\\UserConfig\\ConfigLogo::SMALL')  %}
                small
            {% endif %}
            ">
            {% if site_config().configLogo.useDefaultImage and site_config().configLogo.defaultImage %}
                <img src="{{ vich_uploader_asset(site_config().configLogo.getRenderedLogoImage, 'imageFile') }}"
                     alt="{{ site_config().configLogo.getRenderedLogoImage.imageName }}">
            {% elseif site_config().configLogo.getLogoImage %}
                <img src="{{ vich_uploader_asset(site_config().configLogo.getLogoImage, 'imageFile') }}"
                     alt="{{ site_config().configLogo.getLogoImage.imageName }}">
            {% else %}
                <img src="{{ asset('img/repair_logo2sm.png') }}"
                     alt="logo.png">
            {% endif %}
            {% if site_config().configTexts.visibleBusinessName %}
                <span class="brand-name configurable-text">
                    {% if site_config().configTexts.businessName %}
                        {{ site_config().configTexts.businessName }}
                    {% else %}
                        Quality Cellular
                    {% endif %}
                </span>
            {% endif %}
        </a>
        <div class="menu-buttons">
            {% if is_sell_subscribed() %}
            <a href="{{ site_path('selling_site_homepage') }}" class="btn buy">Buy</a>
            {% endif %}
            {%  if is_buy_subscribed() %}
            <a href="{{ site_path('buying_site_homepage') }}" class="btn sell">Sell</a>
            {% endif %}
            {% if is_repair_subscribed() %}
            <a href="{{ site_path('repairing_site_homepage') }}" class="btn repair">Repair or Unlock</a>
            {% endif %}
        </div>
    </div>
</header>
