{% extends 'SaleSitesBundle::layout.html.twig' %}

{% block title %}{{ 'Login' | trans }}{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/css/login.css') }}">
{% endblock %}

{% block content %}
    {% include('@FOSUser/Security/login_content.html.twig') %}
{% endblock content %}
