{% trans_default_domain 'FOSUserBundle' %}
<section class="container-fluid" id="login">
    {% for message in app.flashes('order_success') %}
        <div class="checkout-header-complete">
            <h1>Thank you!</h1>
            <div class="col-md-2"></div>
            <div class="row complete-order col-md-8">
                <div class="col-md-2 complete">
                    <img src="{{ asset('img/checkout/complete.png') }}" alt="complete">
                </div>
                <div class="col-md-8">
                    <p>Your order is<span> complete!</span></p>
                    <p>Please, check your email for the deatails.</p>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        {% set targetPath = app.request.get('_target_path') ? app.request.get('_target_path') : path('sale_sites_homepage') %}
        <div class="col-sm-10 col-sm-offset-1 hid">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    {% if error %}
                        <div class="text-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% for message in app.flashes('checkout_error') %}
                        <div class="flash-notice">
                            <div class="text-error">{{ message }}</div>
                        </div>
                    {% endfor %}
                    <h3 class="mb-30">{{ "Login" | trans }}</h3>

                    <form action="{{ path("fos_user_security_check", { "_target_path": targetPath }) }}" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input
                                        type="text"
                                        class="form-control mb-20"
                                        id="username"
                                        name="_username"
                                        value="{{ last_username }}"
                                        required="required"
                                        placeholder="{{ 'profile.show.email' | trans }}"
                                />
                            </div>

                            <div class="form-group">
                                <input
                                        type="password"
                                        class="form-control mb-20"
                                        id="password"
                                        name="_password"
                                        required="required"
                                        placeholder="{{ 'security.login.password' | trans }}"
                                />
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input
                                            type="checkbox"
                                            id="remember_me"
                                            name="_remember_me"
                                            value="on"
                                    /> {{ 'security.login.remember_me' | trans }}
                                </label>
                            </div>

                            <div class="menu-buttons">
                                <button type="submit" id="_submit" name="_submit" class="btn buy">{{ 'security.login.submit' | trans }}</button>
                            </div>
                            <div>
                                <a href="{{ path('fos_user_resetting_request') }}">Forgot password?</a>
                            </div>
                        </fieldset>

                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
