{% extends 'SaleSitesBundle::layout.html.twig' %}
{% block header %}
    {% embed '@SaleSites/Layout/header.html.twig' %}
        {% block header_info_block %}
            {% include '@SaleSites/Partials/header-info.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block title %}Contact Us{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/contacts.css') }}">
{% endblock %}

{% block content %}
    <section class="header-service-page sell-page p-0-bottom">
        <div class="container">
            <h3>Contact Us</h3>
        </div>
    </section>

    <div class="container contact-us">
        <div class="col-md-6 col-sm-6 column">
            <form role="form">
                <div class="form-group">
                    <label>Name *</label>
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Email *</label>
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Subject *</label>
                    <input type="text" class="form-control" placeholder="Subject">
                </div>
                <div class="form-group">
                    <label>Message *</label>
                    <textarea name="text"></textarea>
                </div>
                <div class="g-recaptcha" data-sitekey="6Le0Q0oUAAAAALeWG7dJf_uq782P0i4Y2jx-wwVu"></div>
                <div class="menu-buttons">
                    <button type="submit" class="btn buy">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 col-sm-6 column" ng-controller="ContactsController as vm" ng-cloak>
            <div class="information-block" ng-if="vm.selectedLocation">
                <h4 ng-bind="vm.selectedLocation.name"></h4>
                <p ng-bind="vm.selectedLocation.description"></p>
                <p>
                    <strong class="hours">Customer Service Hours</strong>
                    <span ng-bind="vm.selectedLocation.hours"></span>
                </p>
                <p>
                    <strong>Services: </strong>
                    <span class="services" ng-bind="vm.getServiceNames(vm.selectedLocation.services)"></span>
                </p>
                <p>
                    <strong>Phone: </strong>
                    <span ng-bind="vm.selectedLocation.phone"></span>
                </p>
            </div>

            <form role="form">
                <div class="form-group">
                    <label>All Locations</label>
                    <select ng-model='vm.location' class="form-control" ng-disabled="!vm.locations.length">
                        {% for location in locations %}
                            <option value="{{ location.id }}">{{ location.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('build/contact-page.js') }}"></script>
    <script src="{{ asset('build/app.contacts.controller.js') }}"></script>
{% endblock %}