{% extends 'SaleSitesBundle::layout.html.twig' %}
{% block header %}
    {% embed '@SaleSites/Layout/header.html.twig' %}
        {% block header_info_block %}
            {% include '@SaleSites/Partials/header-info.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block title %}FAQ{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/faq-page.css') }}">
{% endblock %}

{% block content %}
    <section class="header-service-page faq sell-page p-0-bottom">
        <div class="container">
            <h3>Frequently Asked Questions</h3>
        </div>
    </section>

    <div class="panel-group faq container" id="accordion">
        {% for category, questions in questionsComposite %}
            <div class="panel panel-default header-faq">
                <div class="panel-heading">
                    <h4>
                        {{ category }}
                    </h4>
                </div>
            </div>
            {% for question in questions %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ question.id }}">
                                {{ question.question }}
                                <div class="toggle-list">
                                    <p class="toggle-elem plus">
                                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                    </p>
                                    <p class="toggle-elem">
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    </p>
                                </div>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ question.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ question.answer|nl2br }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('build/faq-page.js') }}"></script>
{% endblock %}