{% extends 'SaleSitesBundle::layout.html.twig' %}

{% block title %}{{ 'Check email' | trans }}{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/reset.css') }}">
{% endblock %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <section class="container-fluid" id="reset">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 hid">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 text-center">
                        <p>
                            {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
