{% trans_default_domain 'FOSUserBundle' %}
<section class="container-fluid" id="reset">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 hid">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <h3 class="mb-30">{{ "Reset password" | trans }}</h3>

                    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                        <fieldset>
                            <div class="form-group">
                                <input
                                    type="text"
                                    id="username"
                                    name="username"
                                    required="required"
                                    class="form-control mb-20"
                                    placeholder="{{ 'profile.show.email' | trans }}"
                                />
                            </div>

                            <div class="menu-buttons">
                                <button type="submit" id="_submit" name="_submit" class="btn buy">{{ 'resetting.request.submit' | trans }}</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>