{% trans_default_domain 'FOSUserBundle' %}
<section class="container-fluid" id="reset">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 hid">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <h3 class="mb-30">{{ "Reset password" | trans }}</h3>
                    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                        <fieldset>
                            <div class="form-group">
                                {{ form_widget(form.plainPassword.first, {'attr': {
                                    "placeholder": "New password",
                                    "class": "form-control mb-20"
                                }}) }}
                            </div>

                            <div class="form-group">
                                {{ form_widget(form.plainPassword.second, {'attr': {
                                    "placeholder":"Repeat new password",
                                    "class": "form-control mb-20"
                                }}) }}
                            </div>
                            <div class="menu-buttons">
                                <button type="submit" id="_submit" name="_submit" class="btn buy">{{ 'resetting.reset.submit' | trans }}</button>
                            </div>
                        </fieldset>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section>