{% extends 'SaleSitesBundle::layout.html.twig' %}

{% block title %}{{ 'Reset password' | trans }}{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/reset.css') }}">
{% endblock %}

{% block content %}
    {% include "@FOSUser/Resetting/reset_content.html.twig" %}
{% endblock content %}
