{% extends 'SaleSitesBundle::layout.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/buying-page.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/media-queries/sell-repair.css') }}">
{% endblock %}

{% block title %}
    {% if site_seo('sell') %}
        {{ site_seo('sell').title }}
    {% else %}
        Sell
    {% endif %}
{% endblock %}

{% block meta %}
    {% if site_seo('sell') %}
        <meta name="description" content="{{ site_seo('sell').description }}">
        <meta name="keywords" content="{{ site_seo('sell').keyword }}">
    {% endif %}
{% endblock %}

{% block content %}
    <section class="sell-page">
        <div class="container">
            {% if site_config().configTexts.buyTitle %}
                <h3>{{ site_config().configTexts.buyTitle }}</h3>
            {% else %}
                <h3>Sell Your Device and Get Paid Today</h3>
            {% endif %}
            <div class="row models">
                {% for category in categories %}
                    <div class="category col-md-3 col-sm-4 col-xs-6">
                        <a
                            href="#scroll-products"  class="show-products"
                            data-target="products"
                            id="category_{{ category.id }}"
                            data-collapse="2"
                            data-path="{{ site_path('api_get_products', {
                                'id': category.id,
                                'site': site
                            }) }}"
                        >
                        <div class="circle">
                            <span>
                                {% if category.getImage %}
                                    <img src="{{ vich_uploader_asset(category.getImage, 'imageFile') }}" alt="{{ category.title }}">
                                {% else %}
                                    <img src="{{ asset('img/buy/1.png') }}" alt="{{ category.title }}">
                                {% endif %}
                            </span>
                        </div>
                        <p>sell {{ category.title }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <a id="scroll-child-categories" class="anchor"></a>
        <div class="hide-models all-child-categories" id="child-categories"></div>
        <a id="scroll-products" class="anchor"></a>
        <div class="hide-models all-brands" id="products"></div>
        <a id="scroll-carriers" class="anchor"></a>
        <div class="hide-models all-carier" id="carriers"></div>
        <a id="scroll-models" class="anchor"></a>
        <div class="hide-models all-model" id="models"></div>
    </section>
    {% if site_config().configSlider.isDisplayBuy %}
        {% include '@SaleSites/Partials/slider-carousel.html.twig' with { 'site': 'buy'} %}
    {% endif %}
    {% if site_testimonials()|length %}
        {% include '@SaleSites/Partials/testimonials-carousel.html.twig' %}
    {% endif %}
    {% include '@SaleSites/Partials/offers.html.twig' %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('build/buying-index.js') }}"></script>

{% endblock %}
