.models p:hover,
.show-all b:hover {
    border-color: $firstColor;
    color: $firstColor;
}

.sell-page {
    background: $secondColor;
}

.repair {
    background: $thirdColor;
}

.footer-header {
    border-color: $firstColor;
}

footer .arrow {
    background: $firstColor;
}

.footer-bottom {
    background: $firstColor;
}

header {
    border-color: $firstColor;
}

.info-block {
    background: $firstColor;
}

.menu-buttons .btn:hover {
    border-color: $firstColor;
    color: $firstColor;
}

.repair-item .paid.btn {
    background: $thirdColor;
    border-color: $thirdColor;
}

.repair-item .paid.btn:hover {
    border-color: $thirdColor;
    color: $thirdColor;
}

.repair-item .condition p {
    color: $thirdColor;
}

.repair-item .condition div:hover p,
.repair-item .condition div:focus p {
    background-color: $thirdColor;
}

.buy {
    background: $firstColor;
    border-color: $firstColor;
}

.sell {
    background: $secondColor;
    border-color: $secondColor;
}

.repair {
    background: $thirdColor;
    border-color: $thirdColor;
}

.comments .name {
    color: $firstColor;
}

.buy-page,
.sell-page {
    background: $firstColor;
}

.description {
    background: $firstColor;
}