    <div class="container checkout-table">
        <div class="table-responsive">
            <h4 class="alert alert-danger">Your cart is empty!</h4>
        </div>
    </div>
    <div class="container checkout-buttons">
        <div class="menu-buttons">
            <a href="{{ site_path('buying_site_homepage') }}" class="btn sell">Sell another item</a>
            <a href="{{ site_path('selling_site_homepage') }}" class="btn buy">Continue shoping</a>
            <a href="{{ site_path('repairing_site_homepage') }}" class="btn repair">Repair another item</a>
        </div>
    </div>
