{% extends 'SaleSitesBundle::layout.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/css/checkout.css') }}">
{% endblock %}

{% block title %}Checkout{% endblock %}

{% block top_javascript %}
    {{ parent() }}
    <script src="{{ asset('build/app.checkout.controller.js') }}"></script>
    <script src="{{ asset('build/app.cart-forms.controller.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container checkout" ng-controller="CheckoutController as vm">
        {% include '@SaleSites/Partials/message.html.twig' %}
        <message-block></message-block>
        {% for message in app.flashes('order_success') %}
            <div class="checkout-header-complete">
                <h1>Thank you!</h1>
                <div class="row complete-order">
                    <div class="col-md-2 complete">
                        <img src="{{ asset('img/checkout/complete.png') }}" alt="complete">
                    </div>
                    <div class="col-md-8">
                        <p>Your order #<span ng-bind="message"></span> is<span>complete!</span></p>
                        <p>Please, check your email for the deatails. Also? you can <em>print</em> this page and bring
                            it with you the shop.</p>
                    </div>
                    <div class="col-md-2">
                        <button class="print">
                            <img src="{{ asset('img/checkout/print.png') }}" alt="print">
                            Print
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="checkout-order">
            {% if user_page is defined %}
                <p>Your order #4342455</p>
            {% endif %}
            <button
                class="print pull-right"
                onclick="window.print();"
                ng-if="vm.hasSellItems || vm.hasBuyBackItems || vm.hasRepairItems"
            >
                <img src="{{ asset('img/checkout/print.png') }}" alt="print">
                Print
            </button>
        </div>
        <div ng-if="!vm.hasSellItems && !vm.hasBuyBackItems && !vm.hasRepairItems">
            <h4 class="alert alert-danger">Your cart is empty!</h4>
        </div>
        <div class="panel-group checkout-panel" id="accordion">
            <div ng-if="vm.hasSellItems" ng-controller="CartFormsController as cartFormVm" ng-init="cartFormVm.creditCardEnabled={{ is_paypal_express_enabled ? 1 : 0 }}">
                <div class="row">
                    <div class="main-item-block">
                        <div class="row header-table">
                            <div class="col-md-3 first-col">You are buying (Selling Website)</div>
                            <div class="col-md-3">Item</div>
                            <div class="col-md-2">Condition</div>
                            <div class="col-md-1">Price</div>
                            <div class="col-md-1">Qty</div>
                            <div class="col-md-1">Total Cost</div>
                            <div class="col-md-1">Remove</div>
                        </div>
                        <div class="row sell-block" ng-repeat="item in vm.cart().items track by $index" ng-if="vm.SiteContextHelper.isSellingContext(item.site)">
                            <div class="col-md-3">
                                <div class="image">
                                    {% verbatim %}
                                        <img ng-src="{{ item.image }}" alt="{{ item.title }}" height="85">
                                    {% endverbatim %}
                                </div>
                            </div>
                            <div class="col-md-3" ng-bind="item.title"></div>
                            <div class="col-md-2" ng-bind="item.condition"></div>
                            <div class="col-md-1" ng-bind="'$' + item.price/100"></div>
                            <div class="col-md-1 counter">
                                <button type="button" class="but counterBut dec" ng-click="vm.removeItem(item.id)">-</button>
                                <input disabled type="text" class="field fieldCount" ng-model="item.quantity" data-min="1" data-max="20">
                                <button ng-if="item.quantity < item.realQuantity" type="button" class="but counterBut inc" ng-click="vm.addItem(item.id)">+</button>
                            </div>
                            <div class="col-md-1" ng-bind="'$' + item.price/100 * item.quantity"></div>
                            <div class="col-md-1" ng-click="vm.deleteItem(item.id)">
                                <img src="{{ asset('img/checkout/basket.png') }}" alt="basket" class="checkout-basket">
                            </div>
                        </div>
                        <div class="border-location" ng-show="cartFormVm.selectedLocation">
                            <div class="customer-info">
                                <p>Selected Drop-off location:</p>
                            </div>
                            <div class="store-adress">
                                <p ng-bind="cartFormVm.selectedLocation.name"></p>
                                <p ng-bind="cartFormVm.selectedLocation.description"></p>
                                <p ng-bind="'Hours:' + cartFormVm.selectedLocation.hours"></p>
                            </div>
                        </div>
                    </div>
                    <div class="confirm-block">
                        <div class="header-table">
                            <div></div>
                        </div>
                        <div class="sell-block">
                            <div class="menu-buttons">
                                <a  ng-if="!vm.hideSalePay" ng-click="vm.changePayVisability('sale')" class="btn act" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Pay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-toggle="collapse" class="checkout-arrow" data-parent="#accordion" href="#collapseOne" ng-click="vm.changePayVisability('sale')">
                    <div class="arrow-collapse">
                        <img src="{{ asset('img/checkout/arrow.png') }}"/>
                    </div>
                </a>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active customer-info">
                                {% include 'SaleSitesBundle:Checkout/Form:selling-form.html.twig' with {'form': sell_order, 'site':'sell', 'is_paypal_express_enabled': is_paypal_express_enabled, 'paypal_express_environment': paypal_express_environment} %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buy-block" ng-if="vm.hasBuyBackItems" ng-controller="CartFormsController as cartFormVm">
                <div class="row">
                    <div class="main-item-block">
                        <div class="row header-table">
                            <div class="col-md-3 first-col">You are selling (BuyBack Website)</div>
                            <div class="col-md-3">Item</div>
                            <div class="col-md-2">Condition</div>
                            <div class="col-md-1">Price</div>
                            <div class="col-md-1">Qty</div>
                            <div class="col-md-1">Amount owned</div>
                            <div class="col-md-1">Remove</div>
                        </div>
                        <div class="row sell-block" ng-repeat="item in vm.cart().items track by $index" ng-if="vm.SiteContextHelper.isBuyBackContext(item.site)">
                            <div class="col-md-3">
                                <div class="image">
                                    {% verbatim %}
                                        <img ng-src="{{ item.image }}" alt="{{ item.title }}" height="85">
                                    {% endverbatim %}
                                </div>
                            </div>
                            <div class="col-md-3" ng-bind="item.title"></div>
                            <div class="col-md-2" ng-bind="item.condition"></div>
                            <div class="col-md-1" ng-bind="'$' + item.price/100"></div>
                            <div class="col-md-1 counter">
                                <button type="button" class="but counterBut dec" ng-click="vm.removeItem(item.id)">-</button>
                                {% verbatim %}
                                    <input type="text" class="field fieldCount" value="{{ item.quantity }}" data-min="1" data-max="20">
                                {% endverbatim %}
                                <button type="button" class="but counterBut inc"  ng-click="vm.addItem(item.id)">+</button>
                            </div>
                            <div class="col-md-1" ng-bind="'$' + item.price/100 * item.quantity"></div>
                            <div class="col-md-1" ng-click="vm.deleteItem(item.id)">
                                <img src="{{ asset('img/checkout/basket.png') }}" alt="basket" class="checkout-basket">
                            </div>
                        </div>
                        <div class="border-location" ng-show="cartFormVm.selectedLocation">
                            <div class="customer-info">
                                <p>Selected Drop-off location:</p>
                            </div>
                            <div class="store-adress">
                                <p ng-bind="cartFormVm.selectedLocation.name"></p>
                                <p ng-bind="cartFormVm.selectedLocation.description"></p>
                                <p ng-bind="'Hours:' + cartFormVm.selectedLocation.hours"></p>
                            </div>
                        </div>
                    </div>
                    <div class="confirm-block">
                        <div class="header-table">
                            <div></div>
                        </div>
                        <div class="sell-block">
                            <div class="menu-buttons">
                                <a class="btn act" ng-if="!vm.hideBuybackPay" ng-click="vm.changePayVisability('buyback')" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Confirm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-toggle="collapse" class="checkout-arrow" data-parent="#accordion" href="#collapseTwo" ng-click="vm.changePayVisability('buyback')">
                    <div class="arrow-collapse">
                        <img src="{{ asset('img/checkout/arrow.png') }}"/>
                    </div>
                </a>
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active customer-info">
                                    {% include 'SaleSitesBundle:Checkout/Form:checkout-form.html.twig' with {'form': buyback_order, 'site':'buyback'} %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="repair-block" ng-if="vm.hasRepairItems" ng-controller="CartFormsController as cartFormVm">
                <div class="row">
                    <div class="main-item-block">
                        <div class="row header-table">
                            <div class="col-md-3 first-col">You want to Repair (Repair Website)</div>
                            <div class="col-md-3">Item</div>
                            <div class="col-md-2">Condition</div>
                            <div class="col-md-1">Price</div>
                            <div class="col-md-1">Qty</div>
                            <div class="col-md-1">Amount owned</div>
                            <div class="col-md-1">Remove</div>
                        </div>
                        <div class="row sell-block" ng-repeat="item in vm.cart().items track by $index" ng-if="vm.SiteContextHelper.isRepairContext(item.site)">
                            <div class="col-md-3">
                                <div class="image">
                                    {% verbatim %}
                                    <img ng-src="{{ item.image }}" alt="{{ item.title }}" height="85">
                                {% endverbatim %}
                                </div>
                            </div>
                            <div class="col-md-3" ng-bind="item.title"></div>
                            <div class="col-md-2" ng-bind="item.condition"></div>
                            <div class="col-md-1" ng-bind="'$' + item.price/100"></div>
                            <div class="col-md-1 counter">
                                <button type="button" class="but counterBut dec" ng-click="vm.removeItem(item.id)">-</button>
                                {% verbatim %}
                                    <input type="text" class="field fieldCount" value="{{ item.quantity }}" data-min="1" data-max="20">
                                {% endverbatim %}
                                <button type="button" class="but counterBut inc"  ng-click="vm.addItem(item.id)">+</button>
                            </div>
                            <div class="col-md-1" ng-bind="'$' + item.price/100 * item.quantity"></div>
                            <div class="col-md-1" ng-click="vm.deleteItem(item.id)">
                                <img src="{{ asset('img/checkout/basket.png') }}" alt="basket" class="checkout-basket">
                            </div>
                        </div>
                        <div class="border-location" ng-show="cartFormVm.selectedLocation">
                            <div class="customer-info">
                                <p>Selected Drop-off location:</p>
                            </div>
                            <div class="store-adress">
                                <p ng-bind="cartFormVm.selectedLocation.name"></p>
                                <p ng-bind="cartFormVm.selectedLocation.description"></p>
                                <p ng-bind="'Hours:' + cartFormVm.selectedLocation.hours"></p>
                            </div>
                        </div>
                    </div>
                    <div class="confirm-block">
                        <div class="header-table">
                            <div></div>
                        </div>
                        <div class="sell-block">
                            <div class="menu-buttons">
                                <a class="btn act" ng-if="!vm.hideRepairkPay" ng-click="vm.changePayVisability('repair')" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Confirm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-toggle="collapse" class="checkout-arrow" data-parent="#accordion" href="#collapseThree" ng-click="vm.changePayVisability('repair')">
                    <div class="arrow-collapse">
                        <img src="{{ asset('img/checkout/arrow.png') }}"/>
                    </div>
                </a>
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active customer-info">
                                    {% include 'SaleSitesBundle:Checkout/Form:checkout-form.html.twig' with {'form': repair_order, 'site':'repair'} %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container checkout">
        <div class="footer-checkout row">
            {% if is_repair_subscribed() %}
            <div class="col-md-4 menu-buttons">
                <a href="{{ site_path('repairing_site_homepage') }}" class="btn act">
                    <div class="circle-img">
                        <img src="{{ asset('img/checkout/repair.png') }}" alt="repair">
                    </div>
                    Repair your device
                </a>
            </div>
            {% endif %}
            {%  if is_buy_subscribed() %}
            <div class="col-md-4 menu-buttons">
                <a href="{{ site_path('buying_site_homepage') }}" class="btn act">
                    <div class="circle-img">
                        <img src="{{ asset('img/checkout/sell.png') }}" alt="sell">
                    </div>
                    Sell your device
                </a>
            </div>
            {% endif %}
            {% if is_sell_subscribed() %}
            <div class="col-md-4 menu-buttons">
                <a href="{{ site_path('selling_site_homepage') }}" class="btn continue">
                    <div class="circle-img">
                        <img src="{{ asset('img/checkout/continue-shopping.png') }}" alt="buy">
                    </div>
                    Continue shopping
                </a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('build/checkout-page.js') }}"></script>
    {% embed '@PaypalExpress/includes.html.twig'  %} {% endembed %}
{% endblock %}
