{% for key, value in grades %}
    <li class="subitem filter">
        <input id="{{ value }}{{ key }}" type="checkbox" ng-click="scvm.addFilter('{{ filterName }}[]','{{ key }}')" ng-checked="scvm.getCheckboxState('grade[]','{{ key }}')">
        <label for="{{ value }}{{ key }}">{{ value }}</label>
    </li>
{% endfor %}
