<div class="panel-group" id="grade">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#grade" href="#collapseGrade">
                    <div class="toggle-list">
                        <p class="toggle-elem">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </p>
                        <p class="toggle-elem plus">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </p>
                    </div>
                    Grade
                </a>
            </h4>
        </div>
        <div id="collapseGrade" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="cute">
                    {% if grades is defined %}
                        {% include '@SaleSites/Categories/filters.html.twig' with {
                        'filtersArray': filtersArray,
                        'filterName': 'grade',
                        'currentPath': currentPath,
                        'queryParams': queryParams
                        } %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% for item in filtersArray %}
<div class="panel-group" id="color">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#color" href="#collapseColor">
                    <div class="toggle-list">
                        <p class="toggle-elem">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </p>
                        <p class="toggle-elem plus">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </p>
                    </div>
                    {{ item.parent.title }}
                </a>
            </h4>
        </div>
        <div id="collapseColor" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="cute">
                    {% for filter in item.filters %}
                    <li class="subitem filter">
                        <input id="{{ filter.title }}{{ filter.id }}" type="checkbox" ng-click="scvm.addFilter('{{ item.parent.title }}[]','{{ filter.id }}')" ng-checked="scvm.getCheckboxState('{{ item.parent.title }}[]','{{ filter.id }}')">
                        <label for="{{ filter.title }}{{ filter.id }}">{{ filter.title  }}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endfor %}
