{% extends 'SaleSitesBundle::layout.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/sell-list.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/media-queries/buy-page.css') }}">
{% endblock %}

{% block top_javascript %}
    {{ parent() }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script src="{{ asset('build/app.cart.controller.js') }}"></script>
    <script src="{{ asset('build/app.selling-category.js') }}"></script>
{% endblock %}

{% block title %}
    {% if category.seoMeta and category.seoMeta.title %}
        {{ category.seoMeta.title }}
    {% else %}
        Buy
    {% endif %}
{% endblock %}

{% block meta %}
    {% if category.seoMeta %}
        {% if category.seoMeta.description %}
            <meta name="description" content="{{ category.seoMeta.description }}">
        {% endif %}
        {% if category.seoMeta.keyword %}
            <meta name="keywords" content="{{ category.seoMeta.keyword }}">
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% set queryParams = app.request.query.all %}
    {% set currentPath = site_path(
        app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')
        ) %}

    <div class="container buy-workflow" ng-controller="SellingCategoryController as scvm" ng-init="scvm.init({{ category.id }})" ng-cloak>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                {% include '@SaleSites/Categories/filter-panel.html.twig' %}
            </div>
            <div class="col-md-9 col-sm-9 list-products" ng-controller="CartController as vm">
                {% include '@SaleSites/Partials/message.html.twig' %}
                <message-block></message-block>
                <div class="row">
                    <h2>{{ category.title }}</h2>
                    <div class="select">
                        <span>Sort by:</span>
                        {% include '@SaleSites/Categories/sort-dropdown.html.twig' with {
                            'filterName': 'sorting',
                            'currentPath': currentPath,
                            'queryParams': queryParams
                        } %}
                    </div>
                </div>
                <div class="row">
                    <div ng-if="scvm.items">
                        {% verbatim %}
                        <div class="col-md-3 col-sm-4 col-xs-4 item-product" ng-repeat="item in scvm.items">
                            <a href="{{ item.link }}">
                                <img ng-if="item.image" class="my-foto" src="{{ item.image }}" alt="{{ item.title }}" alt="">
                                <img ng-if="!item.image" src="{% endverbatim %}{{ asset('img/buy/1.png') }}{% verbatim %}" alt="{{ item.title }}">
                                <p class="model">{{ item.title }}</p>
                                <p class="state">{{ item.grade }}</p>
                                <p class="price">${{ item.value }}</p>
                            </a>
                            <div class="menu-buttons m-top-10">
                                <p class="btn buy" ng-click="vm.addItem(item.id)">Buy</p>
                            </div>
                        </div>
                        {% endverbatim %}
                    </div>
                    <div ng-if="!scvm.items" class="alert alert-warning m-top-10">No products found!</div>
                </div>
            </div>
            {% verbatim %}
            <!-- pager -->
            <div class="pagination-wrapper">
                <ul ng-if="scvm.pager.pages.length && scvm.items.length && scvm.pager.pages.length > 1" class="pagination">
                    <li ng-class="{disabled:scvm.pager.currentPage === 1}">
                        <a ng-click="scvm.setPage(1)"><</a>
                    </li>
                    <li ng-repeat="page in scvm.pager.pages" ng-class="{active:scvm.pager.currentPage === page}">
                        <a ng-click="scvm.setPage(page)">{{page}}</a>
                    </li>
                    <li ng-class="{disabled:scvm.pager.currentPage === scvm.pager.totalPages}">
                        <a ng-click="scvm.setPage(scvm.pager.totalPages)">></a>
                    </li>
                </ul>
            </div>
            {% endverbatim %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('build/selling-page.js') }}"></script>
{% endblock %}
