<div class="dropdown">
    <select class="form-control" id="sort" ng-model="scvm.sort" ng-change="scvm.sortChange()">
        <option value="">Recent</option>
        <option value="ASC">Lowest to Highest</option>
        <option value="DESC">Highest to Lowest</option>
    </select>
</div>
