@import "../common/_spacing.scss";
@import "../common/_messages.scss";

#login {
    padding-top: 110px;
    padding-bottom: 100px;
    @import "../common/fos_user_forms.scss";
}

header {
    position: initial;
}