{% block subject %} {{ "Registration in 3web1!" | trans }}{% endblock %}

{% block body_text %}
    {% autoescape false %}
        {{ "Registration in 3web1!" | trans }}

        {{ "Welcome to the 3web1 platform" | trans }}!
        {{ "We created the new account for you"| trans }}
        - {{ 'Login'| trans }}: {{ email }}
        - {{ 'Password'| trans }}: {{ password }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ "Registration in 3web1" | trans }}!</title>
</head>

<body marginheight="0" marginwidth="0">
    <table align="center">
        <tr>
            <td>
                <h1>{{ "Registration in 3web1" | trans }}!</h1>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    {{ "Welcome to the 3web1 platform" | trans }}! <br>
                    {{ "We created the new account for you"| trans }}
                </p>
                <ul>
                    <li>{{ 'Login'| trans }}: {{ email }}</li>
                    <li>{{ 'Password'| trans }}: {{ password }}</li>
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>

{% endspaceless %}
{% endblock %}
