.buy-page .models p:hover,
.buy-page .show-all b:hover {
    border-color: $color;
    color: $color;
}

.menu-buttons .buy:hover {
    border-color: $color;
    color: $color;
}

.buy {
    background: $color;
    border-color: $color;
}

.buy-page{
    background: $color;
}